Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat(lb): add info about ips_edge_services (#3270)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(rdb): add high_availability_mode enum
  api/lb/v1/lb_sdk.go
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-network, @scaleway/devtools-dms

feat(rdb): add high_availability_mode enum (#3271)
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat(iam): add all_users and all_applications marker for special IAM groups
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(iam): add all_users and all_applications marker for special IAM groups (#3272)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(audit_trail): add action name field on event, for allow giving more...
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add action name field on event (#3274)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(datawarehouse): update validate.rules of field Deployment.cpu_min
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

chore(product_catalog): add file storage
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

fix(search): add instance_template to Resource.Type (#3275)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

chore(product_catalog): add file storage (#3276)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): add support for pool user-data in createPool (#3278)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(serverless_jobs): add reason application_not_started to job run
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat(serverless_jobs): add reason application_not_started to job run (#3279)
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): add doc for the security-group 'syncing' state (#3280)
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/flexibleip/v1alpha1/flexibleip_sdk.go
Owners: @scaleway/devtools-network

feat(flexible_ip): add flexible IP SRN (#3281)
  api/flexibleip/v1alpha1/flexibleip_sdk.go
Owners: @scaleway/devtools-network

feat(tem): add filter to list offer subscriptions
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat: add a 'user_agent' field to the config file (#2727)
  scw/README.md
  scw/client.go
  scw/client_option.go
  scw/client_option_test.go
  scw/client_test.go
  scw/config.go
  scw/config_test.go
  scw/env.go
  scw/env_test.go
  scw/load_config_test.go
  scw/user_agent.go
  scw/version.go
Owners: @remyleone

feat(artifact_registry): manifest -> artifact and update status
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat(tem): add filter to list offer subscriptions (#3282)
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

chore(lint): comply with golangci-lint v2.13.0
  api/instance/v1/instance_metadata_sdk.go
  scw/convert.go
Owners: @scaleway/devtools-compute, @remyleone

chore(lint): comply with golangci-lint v2.13.0 (#3285)
  api/instance/v1/instance_metadata_sdk.go
  scw/convert.go
Owners: @scaleway/devtools-compute, @remyleone

feat: check and warn about config file permissions (#2725)
  scw/config.go
  scw/config_test.go
Owners: @remyleone

feat(account): add DeleteProjectWithResources RPC + project status (AUTH-5153)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(billing): add contractual_commitment_id filter
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

fix(k8s): limit the max pairs of userdata a pool can accept
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(account): add DeleteProjectWithResources RPC + project status (AUTH-5153) (#3286)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(interlink): add SRN to Interlink and s2s-vpn
  api/interlink/v1beta1/interlink_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(interlink): add SRN to Interlink and s2s-vpn (#3289)
  api/interlink/v1beta1/interlink_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(functions): add audit trail annotations
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

feat(block): add kms_key_id to Snapshot
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/function/v1beta1/function_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-compute, @scaleway/devtools-network

feat(instance): add new methods to pass custom ctx
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

add ctx to delete
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

feat(functions): add audit trail annotations (#3291)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

feat(block): add kms_key_id to Snapshot (#3292)
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
