Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

chore(vcr): bump go.yaml.in/yaml/v4 to avoid encoding diffs in cassettes (#2940)
  go.mod
  go.sum
Owners: @remyleone

Fix
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): add support for `ResetWebsite` (#2951)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/instance/v1/instance_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/lb/v1/lb_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @remyleone, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
  api/instance/v1/instance_sdk.go
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms, @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/instance/v1/instance_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @remyleone, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(audit_trail): add alerting (#2952)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/instance/v1/instance_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/instance/v1/instance_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/instance/v1/instance_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(audit_trail): add list system events (#2957)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

chore: change deprecated order (#2956)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(audit_trail): add mongodb resources (#2958)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(edge_services): add websocket limit error (#2959)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

chore(vpc): remove vpc connectors (#2963)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(mongodb): add instance settings (#2964)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

fix
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(file): add filesystem_ids filter to ListFileSystemsRequest (#2971)
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(audit_trail): add apple-silicon runner resource definition (#2960)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

chore: change deprecated order (#2968)
  api/domain/v2beta1/domain_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms, @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): extends offer api with commitment (#2975)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(domain): add field updated_at on record DNS (#2974)
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

chore(k8s): deprecate replace on DeleteNode (#2973)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(vpc): add vpn_gateway nexthop_resource_type (#2976)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network
