Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(sweepers): allow sweepers to be scoped to the default project id only
  api/account/v3/sweepers/sweepers.go
  api/applesilicon/v1alpha1/sweepers/sweepers.go
  api/baremetal/v1/sweepers/sweepers.go
  api/block/v1alpha1/sweepers/sweepers.go
  api/cockpit/v1/sweepers/sweepers.go
  api/container/v1beta1/sweepers/sweepers.go
  api/flexibleip/v1alpha1/sweepers/sweepers.go
  api/function/v1beta1/sweepers/sweepers.go
  api/inference/v1/sweepers/sweepers.go
  api/instance/v1/sweepers/sweepers.go
  api/iot/v1/sweepers/sweepers.go
  api/ipam/v1/sweepers/sweepers.go
  api/jobs/v1alpha1/sweepers/sweepers.go
  api/k8s/v1/sweepers/sweepers.go
  api/lb/v1/sweepers/sweepers.go
  api/mnq/v1beta1/sweepers/sweepers.go
  api/mongodb/v1/sweepers/sweepers.go
  api/mongodb/v1alpha1/sweepers/sweepers.go
  api/rdb/v1/sweepers/sweepers.go
  api/redis/v1/sweepers/sweepers.go
  api/registry/v1/sweepers/sweepers.go
  api/secret/v1beta1/sweepers/sweepers.go
  api/serverless_sqldb/v1alpha1/sweepers/sweepers.go
  api/tem/v1alpha1/sweepers/sweepers.go
  api/vpc/v2/sweepers/sweepers.go
  api/vpcgw/v1/sweepers/sweepers.go
  api/webhosting/v1/sweepers/sweepers.go
  cmd/sdk-sweeper/main.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai, @remyleone

feat(audit_trail): add instance template resource (#2839)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(edge_services): add serverless container backend (#2841)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

chore(vpcgw): add sweepers
  api/vpcgw/v2/sweepers/sweepers.go
Owners: @scaleway/devtools-network

chore(vpcgw): add v2 sweepers (#2842)
  api/vpcgw/v2/sweepers/sweepers.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

fix(datawarehouse): deprecated Deployment.Status.configuring and added Deployment.Status.deploying (#2843)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(product_catalog): add consumption mode for GEN APIs (#2844)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

chore(serverless): deprecate CreateToken (#2845)
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(edge_services): add serverless container backend (#2846)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(account): add audit trail resource type for contract api (#2847)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): update product status list (#2850)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(s2s_vpn): add VpnGW type availability zone (#2851)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): describe b_ssd and unified enum values as deprecated (#2852)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

chore(domain): add missing endpoint documentation for ListInboundTransfers (#2853)
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(iam): add GetOrganizationScim method (#2854)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add load balancer to public and admin catalog api (#2855)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

chore(kafka): add quickstart and update beta status (#2857)
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms, @scaleway/devtools-compute, @remyleone
