Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

add MaxRetry to avoid infinite loop of 429 error
  scw/client.go
  scw/rate_limit_transport.go
Owners: @remyleone

reload request body before retrying
  scw/rate_limit_transport.go
Owners: @remyleone

add first test case with test server
  internal/testhelpers/test_helpers.go
  scw/client_test.go
Owners: @remyleone

add case 429
  internal/testhelpers/test_helpers.go
  scw/client_test.go
Owners: @remyleone

go go gadgeto, opencode
  scw/client_test.go
Owners: @remyleone

feat(containers): make private endpoint and get ca visible in sdk
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/block/v1/block_sdk.go
  api/container/v1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-storage, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-network, @scaleway/devtools-dms

feat(containers): make private endpoint and get ca visible in sdk (#3369)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

chore: refactor srn implementation to remove dependency on `text/template` (#3370)
  api/account/v3/account_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-storage, @remyleone, @scaleway/devtools-network, @scaleway/devtools-compute, @scaleway/devtools-dms

feat(key_manager): add ListKeyRotations endpoint
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

refactor and add http client option
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

add tests for get url
  api/instance/v1/instance_metadata_sdk_test.go
Owners: @scaleway/devtools-compute

add more tests
  api/instance/v1/instance_metadata_sdk_test.go
Owners: @scaleway/devtools-compute

fix lint
  api/instance/v1/instance_metadata_sdk_test.go
Owners: @scaleway/devtools-compute

feat(key_manager): add key_rotation_index field to DeleteKeyMaterial request
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(key_manager): add ListKeyRotations endpoint (#3371)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(key_manager): add key_rotation_index field to DeleteKeyMaterial request (#3372)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

fix(apple_silicon): correct http url for user-configuration (#3373)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-storage, @remyleone, @scaleway/devtools-network, @scaleway/devtools-compute, @scaleway/devtools-dms

check status code
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

reformat code
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

fix(scripts): fix check-mr-title script and add tests
  api/account/v3/account_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-storage, @remyleone, @scaleway/devtools-network, @scaleway/devtools-compute, @scaleway/devtools-dms

feat(data_orchestrator): add Audit Trail annotations for Data Orchestrator (WOFL) on v1alpha2
  api/account/v3/account_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-compute, @scaleway/devtools-dms

Fix
  .github/workflows/nightly.yml
  .github/workflows/pull-request.yaml
Owners: @remyleone

Fix
  scw/client.go
Owners: @remyleone

feat: enforce srn field on resources (#3375)
  api/account/v3/account_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-storage, @remyleone, @scaleway/devtools-network, @scaleway/devtools-compute, @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add Audit Trail annotations for Data Orchestrator (#3377)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(partner): remove siren_number from CreateOrganization and Organization
  api/partner/v1/partner_sdk.go
Owners: @remyleone

feat(containers): add Audit Trail annotations on sensitive maps
  api/partner/v1/partner_sdk.go
Owners: @remyleone

fix(datalab): add filters for datalab jobs
  api/partner/v1/partner_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/partner/v1/partner_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(partner): remove siren_number from CreateOrganization and Organization (#3379)
  api/partner/v1/partner_sdk.go
Owners: @remyleone

feat(product_catalog): add gigabyte_hour countable unit to match billing (#3382)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

export error type for non-200 status
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

drop retry block for non-200 api response
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

revert 3s timeout from methods
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

check status code from all methods before returning
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute
