Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

fix(validation): zone and region patterns (#2748)
  scw/locality_test.go
  validation/is.go
Owners: @remyleone

feat: update generated APIs
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat(rdb): add skip_size_retrieval option to ListDatabases endpoint (#2753)
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-compute-foundation, @remyleone, @scaleway/devtools-dms

feat(applesilicon): remove support for `RunnerConfiguration` (#2754)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(audit_trail): add exports listing (#2755)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

chore: fix typo (#2756)
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat(sweepers): allow sweepers to be scoped to the default project id only
  api/account/v3/sweepers/sweepers.go
  api/applesilicon/v1alpha1/sweepers/sweepers.go
  api/baremetal/v1/sweepers/sweepers.go
  api/block/v1alpha1/sweepers/sweepers.go
  api/cockpit/v1/sweepers/sweepers.go
  api/container/v1beta1/sweepers/sweepers.go
  api/flexibleip/v1alpha1/sweepers/sweepers.go
  api/function/v1beta1/sweepers/sweepers.go
  api/inference/v1/sweepers/sweepers.go
  api/inference/v1beta1/sweepers/sweepers.go
  api/instance/v1/sweepers/sweepers.go
  api/iot/v1/sweepers/sweepers.go
  api/ipam/v1/sweepers/sweepers.go
  api/jobs/v1alpha1/sweepers/sweepers.go
  api/k8s/v1/sweepers/sweepers.go
  api/lb/v1/sweepers/sweepers.go
  api/mnq/v1beta1/sweepers/sweepers.go
  api/mongodb/v1/sweepers/sweepers.go
  api/mongodb/v1alpha1/sweepers/sweepers.go
  api/rdb/v1/sweepers/sweepers.go
  api/redis/v1/sweepers/sweepers.go
  api/registry/v1/sweepers/sweepers.go
  api/secret/v1beta1/sweepers/sweepers.go
  api/serverless_sqldb/v1alpha1/sweepers/sweepers.go
  api/tem/v1alpha1/sweepers/sweepers.go
  api/vpc/v2/sweepers/sweepers.go
  api/vpcgw/v1/sweepers/sweepers.go
  api/webhosting/v1/sweepers/sweepers.go
  cmd/sdk-sweeper/main.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai, @remyleone

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(webhosting): add field 'region' to Offer (#2758)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(edge_services): add tls caa malfunction error (#2759)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(dedibox): provide ListIPv6Blocks endpoint (#2760)
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(s2s_vpn): accept custom private interco IPs on connection creation (#2761)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(iam/v1alpha1): add UpdateOrganizationLoginMethods (#2763)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(audit_trail): add last status to export job (#2764)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(k8s): redacted flag was lost in kubeconfig
  api/k8s/v1/kubeconfig.go
Owners: @scaleway/devtools-compute

fix(k8s): redacted flag was lost in kubeconfig (#2765)
  api/k8s/v1/kubeconfig.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/baremetal/v1/baremetal_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute-foundation, @remyleone

feat(iam): remove guest from user type (#2766)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(k8s): add k8s version release date (#2767)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(baremetal): expose zone for offers and os (#2768)
  api/baremetal/v1/baremetal_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute-foundation, @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

fix(inference): migrate from v1beta1 to v1
  api/inference/v1beta1/sweepers/sweepers.go
Owners: @scaleway/devtools-ai

fix(inference): clean v1beta1
  api/inference/v1beta1/inference_sdk.go
  api/inference/v1beta1/inference_utils.go
  api/inference/v1beta1/sweepers/sweepers.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core

fix(inference): clean v1beta1
  sdk_compilation_test.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
