Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

fix(webhosting): fix typo on the description of the field is_default in OfferCommitment (#3152)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat(inference): add new status ifr_deployment (#3154)
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(key_manager): hide protection level (#3155)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(product_catalog): add shared CPU (#3156)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/block/v1/block_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-storage, @remyleone, @scaleway/devtools-compute, @scaleway/devtools-core, @scaleway/devtools-network

feat(instance): include PrivateNics in definition of Template (#3157)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(srn): add support for SRNs (#3163)
  api/block/v1/block_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-storage, @remyleone, @scaleway/devtools-core, @scaleway/devtools-network

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat(k8s): add support for SRN (#3164)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(webhosting): add support for `payment_pending` and `payment_failed` (#3165)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

fix(mongodb): change UpgradeInstanceRequest.version to support (e.g., 8.0, 7.0, 8.2) (#3166)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat(rdb): add relase_date field in EngineVersion (#3167)
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

fix(mongodb): change Instance.upgradable_versions (#3168)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

docs(edge_services): update backends doc (#3169)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(mailbox): add update alias (#3171)
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat(k8s): deprecate unused route + fix documentation (#3172)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

chore(secret_manager): add better description for list secret (#3173)
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

chore(key_manager): add better description for list keys (#3174)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add support for input cached tokens for generative APIs models (#3175)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/container/v1/container_sdk.go
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(resource): update web hosting ipv4 to optional
  api/container/v1/container_sdk.go
  api/container/v1beta1/container_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat: update generated APIs
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

chore(serverless): exclude `GetServiceInfo` from Serverless Containers v1
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

chore(serverless): exclude `GetServiceInfo` from Serverless Containers v1 (#3176)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute
