Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat(instancev2): add support for `Sku` (#3468)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

revert unrelated changes
  api/function/v1beta1/function_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat(autoscaling): add support for `srn` and `Group.Zone` (#3469)
  api/autoscaling/v1alpha2/autoscaling_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/function/v1beta1/function_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat: update generated APIs
  api/function/v1beta1/function_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat: add support for zone it-mil-2
  scw/locality.go
Owners: @remyleone

fix tests
  scw/locality_test.go
Owners: @remyleone

add it-mil-3
  scw/locality.go
  scw/locality_test.go
Owners: @remyleone

oops
  scw/client_option_test.go
  scw/locality_test.go
Owners: @remyleone

feat: add support for zones `it-mil-2` and `it-mil-3` (#3472)
  scw/client_option_test.go
  scw/locality.go
  scw/locality_test.go
Owners: @remyleone

feat(function): add support for `srn` (#3470)
  api/function/v1beta1/function_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

docs(mongodb): add descriptions to the EndpointSpec public_network and private_network fields
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat(key_manager): update ImportKeyMaterial to accept encrypted payload
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-core, @remyleone

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core, @remyleone

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core, @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
