Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

Fix typo
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat(interlink): add support for `SetRoutingPolicy` (#2715)
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

fix: remove already declared image
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): add support for fields in metadata
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): add image to instance metadata output (#2714)
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): add support for fields in metadata (#2717)
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(k8s): add cilium_native cni for native routing mode (#2718)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(datawarehouse): update the visibility to public (#2720)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail/v1alpha1): add iam saml resources (#2721)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(tem): add mx records validation in get domain last status (#2722)
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat(datawarehouse): add waiters for Deployment
  api/datawarehouse/v1beta1/datawarehouse_helpers.go
Owners: @remyleone

feat(datawarehouse): add WaitForDeployment helper with proper indentation
  api/datawarehouse/v1beta1/datawarehouse_helpers.go
Owners: @remyleone

fix(datawarehouse): fix import ordering with goimports
  api/datawarehouse/v1beta1/datawarehouse_helpers.go
Owners: @remyleone

feat(instance): updated data field and new RPC (#2723)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: check and warn about config file permissions #2574
  scw/config.go
Owners: @remyleone

chore: rm redundant condition
  scw/config.go
Owners: @remyleone

test: add tests for the permissions check
  scw/client_option_test.go
  scw/config_test.go
  scw/env_test.go
  scw/load_config_test.go
Owners: @remyleone

feat(datawarehouse): fix waiter typecheck and use ResponseError with errors.As
  api/datawarehouse/v1beta1/datawarehouse_helpers.go
Owners: @remyleone

fix(datawarehouse): format helper (gofumpt/gci)
  api/datawarehouse/v1beta1/datawarehouse_helpers.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: add a 'user_agent' field to the config file #1685
  scw/config.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

fix(instance): expose the attaching state to help the Console team (#2726)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

fix : edit warning text
  scw/config.go
Owners: @remyleone

test: check for the entire warning
  scw/config_test.go
Owners: @remyleone

test: check output even with expected error
  scw/config_test.go
Owners: @remyleone

feat: check permissions are not too restrictive
  scw/config.go
  scw/config_test.go
Owners: @remyleone

fix: allow too restrictive without warning
  scw/config.go
  scw/config_test.go
Owners: @remyleone

fix: check permissions more thoroughly
  scw/config.go
  scw/config_test.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(datawarehouse): add waiters for Deployment (#2724)
  api/datawarehouse/v1beta1/datawarehouse_helpers.go
Owners: @remyleone

feat(k8s): add template_args field to NodeMetadata (#2729)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
