Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: add autoscaling v1alpha2 (#3223)
  api/autoscaling/v1alpha2/autoscaling_sdk.go
Owners: @remyleone

feat(search): add relevance value to order_by enum (#3224)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(audit_trail): audit custom alert rules methods (#3225)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(datawarehouse): reduce commonization in Endpoints (#3226)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

docs: fix heading Title Case capitalization in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @remyleone

feat: update generated APIs
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/ipam/v1/ipam_sdk.go
Owners: @remyleone, @scaleway/devtools-compute, @scaleway/devtools-network

feat: update generated APIs
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/ipam/v1/ipam_sdk.go
Owners: @remyleone, @scaleway/devtools-compute, @scaleway/devtools-network

fix(ipam): fix patterns for SRN on IPAM IP (#3231)
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/ipam/v1/ipam_sdk.go
Owners: @remyleone, @scaleway/devtools-compute, @scaleway/devtools-network

feat(object): add support for s3_endpoint in profile (#3100)
  scw/client.go
  scw/client_option.go
  scw/client_option_test.go
  scw/client_test.go
  scw/config.go
  scw/config_test.go
  scw/env.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

chore: add variable for pipelines
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

fix merge
  scw/client.go
Owners: @remyleone

feat(instance): add support for `PrivateNetworkInterface` (#3233)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

fix(object): add s3_endpoint to top-level in config file
  scw/README.md
  scw/client.go
  scw/client_option.go
  scw/config.go
Owners: @remyleone

test(object): add test for env accessors
  scw/env_test.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

fix(object): accept empty s3_endpoint
  scw/client.go
  scw/client_option.go
Owners: @remyleone

test(object): add tests for s3 endpoint validation
  scw/client_option.go
  scw/client_test.go
Owners: @remyleone

test(object): add s3_endpoint entry to templates
  scw/config_test.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(vpc): add vpc x s3 integration api
  api/instance/v2alpha1/instance_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-network

feat(environmental_impact): introduce granularity for usage metrics
  api/instance/v2alpha1/instance_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-network

feat(support): add metadata field to ticket message
  api/instance/v2alpha1/instance_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-network

feat(iam): add SCIM Groups methods
  api/instance/v2alpha1/instance_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-network

feat: update generated APIs
  api/instance/v2alpha1/instance_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-network

feat(artifact_registry): add manifests & tags
  api/instance/v2alpha1/instance_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-network

Update scw/README.md
  scw/README.md
Owners: @remyleone

Update scw/client_option.go
  scw/client_option.go
Owners: @remyleone

fix test
  scw/client_test.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v2alpha1/instance_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-network

add user agent validation
  scw/client.go
  scw/client_option.go
  scw/config_test.go
  scw/user_agent.go
  scw/version.go
Owners: @remyleone

fix(instance): enable volume_api on v2alpha1 and fix normal api (#3238)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(vpc): add vpc x s3 integration api (#3239)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(ipam): add booking of regional IPs (#3245)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

test: add unit tests for UA validation
  scw/client_option.go
  scw/client_option_test.go
  scw/user_agent.go
Owners: @remyleone

fix test
  scw/client_option_test.go
Owners: @remyleone

authorize empty user agent
  scw/client_option.go
  scw/client_option_test.go
Owners: @remyleone

test: add a valid user agent case
  scw/client_option_test.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
