Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(edge_services): add non-waf default path (#2978)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): audit alerting endpoint (#2979)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(dedibox): Force pdf download in raw format
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/partner/v1/partner_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

Remove audit trail and other changes to keep only jobs API
  .github/workflows/coverage.yml
  .github/workflows/nightly.yml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/instance/v1/instance_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/partner/v1/partner_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-compute

feat(jobs): add Triggers API for serverless jobs
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat(serverless_jobs): add triggers of type cron (#2982)
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat(mailbox): add product (#2983)
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat(product_catalog): add managed mongoDB information to admin and public API (#2984)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(rdb): add generation_v3 (#2985)
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

chore: upgrade to Go 1.25
  .github/workflows/nightly.yml
  go.mod
Owners: @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

ci: use Go 1.25 only in PR workflow to fix GOTOOLCHAIN=local
  .github/workflows/pull-request.yaml
Owners: @remyleone

feat(iam): add `GetSamlCertificate` method (#2987)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/partner/v1/partner_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat(edge_services): add routing documentation (#2989)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

chore: upgrade to Go 1.25 (#2988)
  .github/workflows/nightly.yml
  .github/workflows/pull-request.yaml
  go.mod
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/partner/v1/partner_sdk.go
Owners: @remyleone

Fix
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(partner): add support for v1 (#2991)
  api/partner/v1/partner_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat(edge_services): add wildcard domain option on dns stages (#2993)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(environmental_footprint): add databases filters for user api (#2994)
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(edge_services): add host filter (#2995)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat(domain): add optional fields to SearchAvailableDomains() messages (#2996)
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(kafka): add a multi-az option on clusters (#2997)
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
