Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

chore(multiple_namespaces): fix MD029
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): fix MD038
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): remove MD005 from exception list
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): fix MD031
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(serverless_sqldb): fix MD001
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(product_catalog): expose serverless sql databases (#3308)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

fix(k8s): add userdata configuration to CreateCluster service (#3309)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(key_manager): add support for `WrapKey` and `UnwrapKey` (#3317)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(mailbox): add project and organization ID for both mailbox and domain resource
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/dedibox/v1/dedibox_sdk.go
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @scaleway/devtools-compute-foundation, @remyleone

feat(mailbox): add project_id and organization_id (#3329)
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat(dedibox): list available OS by offer_id (#3330)
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

docs(annotations): improve documentation (#3331)
  api/annotations/v1/annotations_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/annotations/v1/annotations_sdk.go
Owners: @remyleone

feat(std): add SRN and service in PermissionDenied details
  api/annotations/v1/annotations_sdk.go
Owners: @remyleone

wip: rate limiting
  go.mod
  go.sum
  scw/client.go
  scw/client_option.go
  scw/rate_limit_retry_test.go
  scw/rate_limit_transport.go
  scw/retry.go
Owners: @remyleone

feat(key_manager): add secp256k1 algorithm
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

fix(instance): document non-support of SBS volumes in StopAndDeleteServer
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core

chore: go fix for go 1.27
  api/instance/v1/instance_metadata_sdk.go
  api/instance/v1/instance_sdk.go
  api/marketplace/v2/marketplace_utils.go
  internal/async/wait_test.go
  internal/e2e/errors_test.go
  internal/generic/ptr.go
  parameter/query.go
  strcase/goname.go
  strcase/pascal.go
  vcr/compare.go
Owners: @scaleway/devtools-compute, @remyleone

Fix
  api/instance/v1/instance_metadata_sdk.go
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

Fix
  internal/async/wait_test.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core

feat(containers): add get private endpoint certificate authority
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core

fix(resource): fix resource type enum slugs
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core

feat: update generated APIs
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core

feat(account): drop deprecated secret field from ValidateAccountResponse
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core

feat(key_manager): split asymmetric Encryption and key encapsulation
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core

feat(serverless_sqldb): add SRN for SSDB
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
Owners: @remyleone, @scaleway/devtools-compute, @scaleway/devtools-core, @scaleway/devtools-dms

feat(block): update old doc links with correct ones to avoid redirects
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

chore(gitlab-ci): add allow_failure to lint mr title
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

feat(serverless_sqldb): add ability to choose version of postgreSQL engine
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

feat(autoscaling): remove v1alpha1 autoscaling api
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

feat(permission): remove min_len validation on Resource.locality
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

chore: bump protoc-gen to v2.0.9
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

deprecate funcs and add gofix:inline
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

feat(instance): add support for SRN
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms
