Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

chore: add it-mil mention in ipam/vpcl/s2s/itlk pub docs (#3043)
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

feat(edge_services): integrate to vpc (#3044)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(kafka): add an 'upgrading' status to be used while upgrading Kafka version (#3045)
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(ipam): add new resources (#3046)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat(serverless_sqldb): add audit-trail parameters in ServerlessDB (#3047)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(containers): add a filter to list triggers by type (#3048)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(environmental_footprint): move impact multi-az to region-level (#3049)
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

chore(inference): change product name due to product merge (#3051)
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(search): add support for v1alpha1 (#3053)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(search/v1alpha1): enable searching by instance_security_group (#3055)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(s2s_vpn): add resources for api-search (#3056)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

docs(containers): add missing descriptions (#3057)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

chore: update golangci-lint config
  .golangci.yml
Owners: @remyleone

chore: update golangci-lint config (#3058)
  .golangci.yml
Owners: @remyleone

feat: update generated APIs
  api/jobs/v1alpha2/jobs_sdk.go
  api/messageq/v1alpha1/messageq_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

fix
  .golangci.yml
  api/messageq/v1alpha1/messageq_sdk.go
Owners: @remyleone

fix
  .golangci.yml
Owners: @remyleone

feat(serverless_jobs): improve retry_policy handling for job definition updates (#3059)
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/messageq/v1alpha1/messageq_sdk.go
Owners: @remyleone

feat(messageq): enable v1alpha1 (#3060)
  api/messageq/v1alpha1/messageq_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/messageq/v1alpha1/messageq_sdk.go
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(vcr): add unescapeDockerURL hook for container deploy tests
  vcr/matchers.go
  vcr/vcr.go
Owners: @remyleone

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(vpc): add ingress-rules to vpc (#3064)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

chore(vcr): add unescapeDockerURL hook for container deploy tests (#3065)
  vcr/matchers.go
  vcr/vcr.go
Owners: @remyleone

feat(dedibox): expose original dedibox offer id (#3063)
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation
