Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

fix(inference): clean v1beta1 (#2772)
  api/inference/v1beta1/inference_sdk.go
  api/inference/v1beta1/inference_utils.go
  api/inference/v1beta1/sweepers/sweepers.go
  sdk_compilation_test.go
Owners: @scaleway/devtools-ai, @remyleone

feat(edge_services): add default_fqdn to dns_stage (#2769)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

fix(iam/v1alpha1): set UpdateOrganizationLoginMethods body (#2774)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(secret_manager): add the region of the version (#2770)
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

docs(cockpit): deprecate managed alerts routes (#2771)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): add fields to backup api (#2777)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(audit_trail): add export tags as repeated string (#2779)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(sweepers): add backup/snapshot cleanup for RDB and MongoDB sweepers
  api/mongodb/v1alpha1/sweepers/sweepers.go
  api/rdb/v1/sweepers/sweepers.go
Owners: @remyleone, @scaleway/devtools-dms

feat(sweepers): add backup/snapshot cleanup for RDB and MongoDB sweepers (#2780)
  api/mongodb/v1alpha1/sweepers/sweepers.go
  api/rdb/v1/sweepers/sweepers.go
Owners: @remyleone, @scaleway/devtools-dms

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(instance): add field zone for PrivateNIC/PrivateNetwork (#2781)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(qaas): add tz for booking (#2782)
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat(iam/v1alpha1): add ParseSamlMetadata (#2783)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(iam): add max_api_key_expiration_duration to OrganizationSecuritySettings (#2784)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

ci: add support for codecov components
  .github/codecov.yml
  .github/workflows/coverage.yml
Owners: @remyleone

feat(interlink): add display_name for pops (#2785)
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

Use a go run command to execute gotestsum
  .github/workflows/coverage.yml
Owners: @remyleone

ci: add support for codecov components (#2786)
  .github/codecov.yml
  .github/workflows/coverage.yml
Owners: @remyleone

chore: add support for a Makefile
  Makefile
Owners: @remyleone

simplify the Makefile
  Makefile
Owners: @remyleone

chore: add support for a Makefile (#2787)
  Makefile
Owners: @remyleone

feat(baremetal): expose user_data field for cloud-init
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(baremetal): expose user_data field for cloud-init (#2788)
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(iam): add expires_at to updateable API key fields (#2789)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(baremetal): expose OS compatible with cloud-init (#2790)
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

feat(secret_manager): add s2s_vpn to product (#2792)
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
