Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat(k8s): add support for `IamNodesGroupID` (#2478)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

feat(secret_manager): display restore methods (#2479)
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

fix lint
  api/mongodb/v1alpha1/mongodb_utils.go
Owners: @remyleone

feat(mongodb): fetch latest engine version (#2475)
  api/mongodb/v1alpha1/mongodb_utils.go
Owners: @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(iam): add personal data to User (#2480)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(functions): add go123 and go124 runtimes (#2481)
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat(inference): remove DeploymentQuantization.enabled field (#2482)
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

fix(vpc): fix typo in url for acl calls (#2483)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

fix(webhosting): add dns autoconfig none option (#2484)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(functions): add new runtimes (#2485)
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat(edge_services): add locked status to Pipeline (#2486)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

docs(iam): remove beta mentions (#2487)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

chore: migrate to golangci-lint v2
  .golangci.yml
  api/instance/v1/instance_sdk_server_test.go
  api/instance/v1/sweepers/sweepers.go
Owners: @remyleone, @scaleway/devtools-compute

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat(interlink): add support for `DedicatedConnection` (#2489)
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-network

feat(vpc): remove set subnets private network (#2490)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v1/vpcgw_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @scaleway/devtools-network, @scaleway/devtools-dms

docs(iam): create user spec (#2491)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

docs: correction of description (#2493)
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v1/vpcgw_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @scaleway/devtools-network, @scaleway/devtools-dms

fix(lb): attach private network path (#2494)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

docs: improve visibility for CPU & GPU instances (#2496)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat(interlink): add support for `PeerAsn` (#2498)
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/baremetal/v1/baremetal_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/documentdb/v1beta1/documentdb_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/inference/v1beta1/inference_sdk.go
  api/instance/v1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/iot/v1/iot_sdk.go
  api/mongodb/v1alpha1/mongodb_sdk.go
  api/qaas/v1alpha1/qaas_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/redis/v1/redis_sdk.go
  api/registry/v1/registry_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-compute, @scaleway/devtools-core, @scaleway/devtools-ai, @remyleone

docs: fix various spelling (#2499)
  api/baremetal/v1/baremetal_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/documentdb/v1beta1/documentdb_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/inference/v1beta1/inference_sdk.go
  api/instance/v1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/iot/v1/iot_sdk.go
  api/mongodb/v1alpha1/mongodb_sdk.go
  api/qaas/v1alpha1/qaas_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/redis/v1/redis_sdk.go
  api/registry/v1/registry_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-compute, @scaleway/devtools-core, @scaleway/devtools-ai, @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
