Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

Fix
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(k8s): remove deprecated field available_container_runtimes (#3426)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

Fix
  api/iam/v1alpha1/iam_sdk.go
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute

feat(mailbox): add mailbox forwarding (#3427)
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

Fix
  api/k8s/v1/k8s_sdk.go
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat(iam): add support for GetScimToken (#3428)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(instance): add StartSpotServer RPC
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v2alpha1/instance_sdk.go
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): add support for `StartSpotServer` (#3429)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): expose IAM application-id of control plane into cluster (#3430)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(audit_trail): implement srn field
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add support for `Srn` (#3431)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(scw): only print config permissions warning when stdout is a terminal
  scw/config.go
  scw/config_test.go
Owners: @remyleone

Fix
  scw/config.go
Owners: @remyleone

fix lint
  scw/config_test.go
Owners: @remyleone

feat: update generated APIs
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

docs(containers): change docs about private endpoint (#3433)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(support): add AEP resource annotations and SRN fields
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

chore(nats): remove nats from generating the internal CLI
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(instance): add ServerType.sku
  api/instance/v1/instance_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat: update generated APIs
  api/annotations/v1/annotations_sdk.go
  api/instance/v1/instance_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

feat(search): add WOFL product to search resources (#3437)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(instance): add ServerType.sku (#3441)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

chore(annotations): add SRN support (#3442)
  api/annotations/v1/annotations_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

fix(instance): add editorial fixes
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(mongodb): add srn fields
  api/account/v3/account_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @remyleone

feat(edge_services): display doc for waf rules exclusion feature
  api/account/v3/account_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @remyleone

feat(kafka): expose CreateEndpoint and DeleteEndpoint CLI commands
  api/account/v3/account_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @remyleone

feat(account): add support for SRN in Contract (#3443)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

revert unrelated changes
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

revert unrelated changes
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

chore(account): rm unused generated private method
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

chore(account): rm unused generated private method (#3450)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(mongodb): add srn fields (#3448)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone
