Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat: update generated APIs
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add missing iam_rule type (#2460)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(edge_services): miss route-stages on httprule of ListRouteRules (#2459)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(tem): deprecate accept tos on create domain (#2458)
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

fix(apple_silicon): document commitment type values and usage (#2461)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(iam): add status filter to ListUsersRequest (#2462)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(instance): add GPU information in ServerType (#2463)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

fix(iam): move Connection out of GetUserConnectionResponse (#2464)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat(vpcgw): add v2 waiters
  api/vpcgw/v2/vpcgw_utils.go
Owners: @scaleway/devtools-network

feat(vpcgw): add v2 waiters (#2466)
  api/vpcgw/v2/vpcgw_utils.go
Owners: @scaleway/devtools-network

feat(inference): add support v1 (#2465)
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(iam): add type filter to ListUsersRequest (#2467)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): replace domain conf options (#2468)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat(tem): make scale offer endpoint public (#2471)
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat(cockpit): update naming OB-276 (#2469)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(baremetal): add max_size instead of specific size for partitioning (#2470)
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(account): add project customization endpoint (#2472)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(inference): add modelId and quantization to updateDeploymentRequest (#2473)
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat(vpc): set acl calls to public visibility (#2474)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(mongodb): fetch latest engine version
  api/mongodb/v1alpha1/mongodb_utils.go
Owners: @remyleone

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

docs(lb): update wording for uri param (#2476)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

fix(instance): remove unset baremetal field (#2477)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute
