Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat(iam): rework saml endpoints (#2686)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

docs(serverless): clarify delete secrets behavior (#2687)
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

docs(key_manager): remove mention about key manager only supporting symmetric encryption (#2688)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(product_catalog): remove ProductCategory (#2689)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(domain): expose inbound transfer status (#2690)
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

docs(serverless): clarify delete secrets behavior (#2691)
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat(baremetal): support overriding default SSH keys on rescue (#2695)
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add ResourceType filter (#2696)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add lb resources (#2697)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/marketplace/v2/marketplace_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(marketplace): add arch filter to ListLocalImagesRequest (#2698)
  api/marketplace/v2/marketplace_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat(audit_trail): add a new sfs_filesystem resource (#2699)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix build error: remove fmt.Sprintf from errors.Wrap args
  api/domain/v2beta1/domain_utils.go
  scw/client.go
Owners: @scaleway/devtools-dms, @remyleone

feat(webhosting): implement FreeDomainAPI (#2702)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

fix(webhosting): require domain_name on RemoveCustomDomainRequest (#2707)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(product_catalog): add support for `sample_day` and `gigabyte_day` (#2706)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

docs(key_manager): add documentation (#2709)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

chore(instance): add `attaching` to `VolumeServerState` (#2708)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

move vcr and matching funcs to the sdk-go
  vcr/compare.go
  vcr/matchers.go
  vcr/vcr.go
Owners: @remyleone

remove specific hooks + add hook customization
  internal/testhelpers/httprecorder/recorder.go
  vcr/matchers.go
  vcr/vcr.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/std/std_sdk.go
Owners: @remyleone

feat(std): add support for `CountryCode` (#2711)
  api/std/std_sdk.go
Owners: @remyleone

feat(instance): add release IP to IPAM endpoint (#2710)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(s2s_vpn): add support for `v1alpha1` (#2712)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add support for `vpc_private_network` and `AuthenticationEvent` (#2713)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: add image to instance metadata output
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute
