Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit-trail): add support for ListCombinedEvents (#2730)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/tem/v1alpha1/tem_sdk.go
Owners: @remyleone, @scaleway/devtools-dms

feat(tem): add dkim, spf and mx records in domain message (#2731)
  api/tem/v1alpha1/tem_sdk.go
Owners: @scaleway/devtools-dms

fix(s2s_vpn): make connections object ip version–specific (#2732)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat(qaas): add booking req param (#2735)
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(apple_silicon): add CI-CD runner installation APIs (#2737)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat(environmental_footprint): enable v1alpha1 (#2738)
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(account): add network contract type (#2739)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(domain): support inbound transfer retry (#2742)
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

fix(dedibox): remove project_id from LeaveRpnGroupRequest (#2743)
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(k8s): add versions deprecation+eol dates (#2744)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add event export (#2745)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

bump go versions
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
Owners: @remyleone

feat: update generated APIs
  api/autoscaling/v1alpha1/autoscaling_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/mnq/v1beta1/mnq_sdk.go
Owners: @scaleway/devtools-dms

feat(autoscaling): add zone in resources (#2746)
  api/autoscaling/v1alpha1/autoscaling_sdk.go
Owners: @remyleone

feat(iam): add max_login_session_days security setting (#2747)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/iot/v1/iot_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat(mnq): add region in NatsCredentials message (#2749)
  api/mnq/v1beta1/mnq_sdk.go
Owners: @scaleway/devtools-dms

feat(audit_trail): add export removal (#2750)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: add support for region in iot resources (#2751)
  api/iot/v1/iot_sdk.go
Owners: @scaleway/devtools-dms

docs(environmental_footprint): update fields descriptions (#2752)
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

fix(validation): zone and region patterns
  validation/is.go
Owners: @remyleone

fix: test
  scw/locality_test.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
