Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(cockpit): add rule status on ListAlert endpoint (#2630)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(apple_silicon): fix typo in applesilicon SDK comment (#2634)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

fix(instance): resolve image label according to boot volume type
  api/instance/v1/server_utils.go
  api/instance/v1/server_utils_test.go
  api/instance/v1/testdata/create-server-image-label-resolution.yaml
Owners: @scaleway/devtools-compute

add arm test + refacto
  api/instance/v1/server_utils_test.go
  api/instance/v1/testdata/create-server-image-label-resolution.yaml
Owners: @scaleway/devtools-compute

tests(marketplace): update expected local image ID for ubuntu_focal (#2631)
  api/marketplace/v2/marketplace_utils_test.go
  api/marketplace/v2/testdata/go-vcr.yaml
Owners: @scaleway/devtools-compute

tests(container): update cassette for TestListContainerNamespaceMultipleRegions (#2632)
  api/container/v1beta1/testdata/container-list-regions.yaml
Owners: @scaleway/devtools-compute

fix(instance): resolve image label according to boot volume type (#2626)
  api/instance/v1/server_utils.go
  api/instance/v1/server_utils_test.go
  api/instance/v1/testdata/create-server-image-label-resolution.yaml
Owners: @scaleway/devtools-compute

tests(container): update tests
  api/instance/v1/instance_sdk_server_test.go
  api/instance/v1/instance_utils_test.go
  api/instance/v1/security_group_utils_test.go
  api/instance/v1/server_utils_test.go
  api/instance/v1/snapshot_utils_test.go
  api/instance/v1/volume_utils_test.go
Owners: @scaleway/devtools-compute

cassettes for failed tests
  api/instance/v1/testdata/create-server.yaml
  api/instance/v1/testdata/snapshot-test.yaml
  api/instance/v1/testdata/utils-test-block.yaml
Owners: @scaleway/devtools-compute

get project ID when recording
  api/instance/v1/instance_sdk_server_test.go
  api/instance/v1/instance_utils_test.go
  api/instance/v1/server_utils_test.go
  api/instance/v1/volume_utils_test.go
Owners: @scaleway/devtools-compute

wait for security group before deleting it
  api/instance/v1/security_group_utils_test.go
Owners: @scaleway/devtools-compute

wait for block volume before reattaching it
  api/instance/v1/instance_utils_test.go
Owners: @scaleway/devtools-compute

feat(audit_trail): add apple-silicon resources definition (#2635)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

tests(container): update tests
  api/instance/v1/instance_sdk_server_test.go
  api/instance/v1/instance_utils_test.go
  api/instance/v1/security_group_utils_test.go
  api/instance/v1/server_utils_test.go
  api/instance/v1/snapshot_utils_test.go
  api/instance/v1/testdata/create-server.yaml
  api/instance/v1/testdata/snapshot-test.yaml
  api/instance/v1/testdata/utils-test-block.yaml
  api/instance/v1/volume_utils_test.go
Owners: @scaleway/devtools-compute

update security group tests
  api/instance/v1/security_group_utils_test.go
  api/instance/v1/testdata/security-group-rule-test.yaml
  api/instance/v1/testdata/security-group-test.yaml
Owners: @scaleway/devtools-compute

feat(webhosting): add parent zone domain name (#2636)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(edge_services): add route rule search endpoint (#2637)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

tests(instance): update failed tests (#2633)
  api/instance/v1/instance_sdk_server_test.go
  api/instance/v1/instance_utils_test.go
  api/instance/v1/security_group_utils_test.go
  api/instance/v1/server_utils_test.go
  api/instance/v1/snapshot_utils_test.go
  api/instance/v1/testdata/create-server.yaml
  api/instance/v1/testdata/security-group-rule-test.yaml
  api/instance/v1/testdata/security-group-test.yaml
  api/instance/v1/testdata/snapshot-test.yaml
  api/instance/v1/testdata/utils-test-block.yaml
  api/instance/v1/volume_utils_test.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

fix(key_manager): add scheduled_for_deletion state (#2640)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(iam): add SAML IdP configuration endpoints
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(iam): add saml certificate expires_at field (#2641)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

fix(baremetal): support subscription period GetOfferByName
  api/baremetal/v1/server_utils.go
Owners: @scaleway/devtools-compute-foundation

fix(baremetal): support subscription period GetOfferByName (#2643)
  api/baremetal/v1/server_utils.go
Owners: @scaleway/devtools-compute-foundation

docs(instance): document dynamic_ip_required default value
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

docs(instance): document dynamic_ip_required default value (#2639)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(baremetal): add protected flag on servers (#2644)
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(ipam): add support for listing by `ip_address` and `mac_address` (#2645)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(mongodb): add waiters for v1
  api/mongodb/v1/mongodb_utils.go
  api/mongodb/v1/sweepers/sweepers.go
Owners: @remyleone

feat(mongodb): add waiters for v1 (#2646)
  api/mongodb/v1/mongodb_utils.go
  api/mongodb/v1/sweepers/sweepers.go
Owners: @remyleone

chore: add support for GitHub actions in codeql
  .github/workflows/codeql-analysis.yml
Owners: @remyleone

feat: add nightly tests
  .github/workflows/nightly.yml
  cmd/sdk-sweeper/main.go
  internal/testhelpers/httprecorder/recorder.go
Owners: @remyleone

chore: add support for GitHub actions in codeql (#2647)
  .github/workflows/codeql-analysis.yml
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
