Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat(jobs): add sweepers and waiters for v1alpha2
  api/jobs/v1alpha2/custom_job_run.go
  api/jobs/v1alpha2/sweepers/sweepers.go
Owners: @scaleway/devtools-compute

feat(jobs): add sweepers and waiters for v1alpha2 (#2927)
  api/jobs/v1alpha2/custom_job_run.go
  api/jobs/v1alpha2/sweepers/sweepers.go
Owners: @scaleway/devtools-compute

chore: migrate to pinned actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/nightly.yml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
Owners: @remyleone

chore: migrate to pinned actions (#2928)
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/labeler.yml
  .github/workflows/nightly.yml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
Owners: @remyleone

feat(environmental_footprint): add kubernetes environmental usage for the User API
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat(environmental_footprint): add kubernetes environmental usage for the User API (#2926)
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

fix(serverless_jobs): add reason quota_exceeded to job run (#2930)
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat(searchdb): add GetDeploymentCertificateAuthority (#2931)
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): add reset hosting service on hosting api (#2932)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add managed relational database information to admin and public API (#2933)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): taints and labels: move to a more simple implementation (#2934)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(serverless_jobs): add retry policy
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/container/v1beta1/container_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/lb/v1/lb_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/registry/v1/registry_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/searchdb/v1alpha1/searchdb_sdk.go
  api/tem/v1alpha1/tem_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-compute, @scaleway/devtools-dms, @scaleway/devtools-core, @scaleway/devtools-network, @remyleone

feat(serverless_jobs): add retry policy (#2935)
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(vpc): add ListSubnetOverlaps for vpc peering (#2937)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

chore(vcr): bump go.yaml.in/yaml/v4 to avoid encoding diffs in cassette compression
  go.mod
  go.sum
Owners: @remyleone

chore(serverless_jobs): revert deprecated attribute pointer change
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): add pools labels, taints and startup_taints (#2942)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

chore(serverless_jobs): revert deprecated attribute pointer change (#2941)
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

fix(scw): include attempted locality in resource not found errors (#1)
  api/instance/v1/error_locality_test.go
  scw/client.go
  scw/client_test.go
  scw/errors.go
  scw/errors_test.go
Owners: @scaleway/devtools-compute, @remyleone

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/container/v1beta1/container_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/lb/v1/lb_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/registry/v1/registry_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/searchdb/v1alpha1/searchdb_sdk.go
  api/tem/v1alpha1/tem_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-compute, @scaleway/devtools-dms, @scaleway/devtools-core, @scaleway/devtools-network, @remyleone

feat: add support for it-mil-1
  scw/client_option_test.go
  scw/locality.go
  scw/locality_test.go
Owners: @remyleone

feat: add support for it-mil-1 (#2946)
  scw/client_option_test.go
  scw/locality.go
  scw/locality_test.go
Owners: @remyleone

feat: update generated APIs
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(datawarehouse): add shard_count params (#2947)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

Fix
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

Fix
  api/instance/v1/testdata/test-list-server-multiple-zones.cassette.yaml
Owners: @scaleway/devtools-compute

chore(instance): add it-mil-1 in instance (#2950)
  api/instance/v1/instance_sdk.go
  api/instance/v1/testdata/test-list-server-multiple-zones.cassette.yaml
Owners: @scaleway/devtools-compute

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
