Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(search): add support for `instance_private_nic`, `instance_snapshot` and `instance_placement_group` (#3090)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(k8s): add support for `it-mil` (#3089)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add noKVM product badge for catalog APIs (#3091)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(cockpit): add api search integration (#3093)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(product_catalog): add serverless containers products to catalog APIs (#3095)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat(edge_services): add pipeline code for failed configuration (#3096)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

refactor(searchdb): deprecate node_amount and introduce node_count - SCBL-453 (#3097)
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(ci): check pr title
  .github/workflows/pull-request.yaml
Owners: @remyleone

fix(ci): use the same as sdk-sdk
  .github/workflows/check-pull-request.yml
  .github/workflows/pull-request.yaml
Owners: @remyleone

fix(ci): rm pnpm dependency
  .github/workflows/check-pull-request.yml
Owners: @remyleone

feat(audit_trail): add support for interlink resource types (#3098)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

chore(ci): add job to check pr title (#3099)
  .github/workflows/check-pull-request.yml
Owners: @remyleone

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(vpc): add project/org filter to ingress rule list (#3102)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

test: add tests for the permissions check
  scw/client_option_test.go
  scw/config_test.go
  scw/env_test.go
  scw/load_config_test.go
Owners: @remyleone

test: check for the entire warning
  scw/config_test.go
Owners: @remyleone

feat: check permissions are not too restrictive
  scw/config.go
  scw/config_test.go
Owners: @remyleone

fix: allow too restrictive without warning
  scw/config.go
  scw/config_test.go
Owners: @remyleone

chore: rm redundant condition
  scw/config.go
Owners: @remyleone

test: check output even with expected error
  scw/config_test.go
Owners: @remyleone

fix : edit warning text
  scw/config.go
Owners: @remyleone

fix: check permissions more thoroughly
  scw/config.go
  scw/config_test.go
Owners: @remyleone

feat: check and warn about config file permissions #2574
  scw/config.go
Owners: @remyleone

feat(audit_trail): add observability resource infos (#3104)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(search): add filters to search resources (#3105)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(key_manager): add protection level in create key (#3106)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

chore(object): rename from URL to Endpoint for coherence
  scw/client_option.go
  scw/client_test.go
  scw/config.go
  scw/env.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
