Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

fix(scw): config.String() panic with an empty profile
  scw/config.go
  scw/config_test.go
Owners: @remyleone

fix(scw): config.String() panic with an empty profile (#2542)
  scw/config.go
  scw/config_test.go
Owners: @remyleone

feat(product_catalog): remove deprecated fields (#2540)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

docs(file): update file description and add more file examples (#2536)
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(k8s): removal of `SbsCsiEnabled` (#2541)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(container/function): add support for tags (#2539)
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

docs(cockpit): fix documentation string on preconfigured rules (#2544)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): use password in base64 (#2546)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(key_manager): add getpublickey endpoint (#2547)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/autoscaling/v1alpha1/autoscaling_sdk.go
Owners: @remyleone

feat(autoscaling): enable v1alpha1 (#2548)
  api/autoscaling/v1alpha1/autoscaling_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(lb): enable devtools generation for path_begin new route feature (#2550)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(iam): add ddl_datalab type (#2549)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(key_manager): add sign and verify methods (#2551)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(product_catalog): add new instance properties + status (#2552)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

docs(file): review File Storage API descriptions and documentation MTA-6002 (#2553)
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(key_manager): add filtering and asymmetric algos (#2554)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(cockpit): add datasource filter on listAlert endpoint (#2555)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

docs(cockpit): rework regional api (#2556)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(audit_trail): add account user and organization resources (#2557)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(iam): add guest migration endpoint (#2558)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(k8s): add MigratePoolsToNewImages handler (#2559)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute
