Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat(domain): add auto renew at domain creation
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute

chore: migrate to hash based github actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
Owners: @remyleone

Fix
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

rm unused function and fix lint
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

set 3s timeout for deprecated functions
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

continue loop when error
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute

feat(key_manager): add secp256k1 algorithm (#3337)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

docs(instance): document non-support of SBS volumes in StopAndDeleteServer (#3338)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute

refactor timeouts into consts
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

wip: rate limiting
  scw/client.go
  scw/rate_limit.go
Owners: @remyleone

liiiiiiiiiiinter
  scw/rate_limit.go
Owners: @remyleone

rename function and add comments
  scw/rate_limit.go
Owners: @remyleone

docs(key_manager): complete doc for mlkem
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute

doc(s2s_vpn): improve secret and revision doc
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute

feat(instance): api-hypervisor admin private-nics-set add unknown vni
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute

add TLSConfig to RateLimitTransport
  scw/rate_limit.go
Owners: @remyleone

fix insecure mode for RateLimitTransport
  scw/client.go
  scw/client_test.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute

feat(instance): add support for `DetachAndDeletePrivateNetworkInterface` (#3339)
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(key_manager): split asymmetric Encryption and key encapsulation (#3345)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(sdb): add support for SRN (#3346)
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
Owners: @scaleway/devtools-dms

feat(audit_trail): replace action string by enum (#3347)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix: improve setSrn notEmpty testing (#3348)
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-storage, @remyleone, @scaleway/devtools-network, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

feat(serverless_sqldb): add support for `Version` (#3349)
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
Owners: @scaleway/devtools-dms

feat(serverless_sqldb): add support for `ListVersions` (#3351)
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
Owners: @scaleway/devtools-dms

feat(instance): add support for SRN (#3356)
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(domain): add auto renew at domain creation (#3357)
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat(audit_trail): add support for `passkey` (#3359)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

docs(key_manager): complete doc for mlkem (#3361)
  api/edge_services/v1beta1/edge_services_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-network, @scaleway/devtools-core

doc(s2s_vpn): improve secret documentation (#3362)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(edge_services): add support for `WafExclusionRule` (#3364)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

fix(apple_silicon): move user config endpoint from internal to public undocumented
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(containers): add boolean field to enable default public endpoint (true by default)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(apple_silicon): add support for `GetUserConfiguration` (#3366)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

fix insecure mode for RateLimitTransport
  scw/client.go
  scw/client_test.go
  scw/rate_limit.go
Owners: @remyleone

separate rate_limit.go into two files
  scw/rate_limit_state.go
  scw/rate_limit_transport.go
Owners: @remyleone
