Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat(pcu): add support for `input_audio` in generative APIs (#3246)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

fix(object): add s3_endpoint to top-level in config file (#3237)
  scw/README.md
  scw/client.go
  scw/client_option.go
  scw/client_test.go
  scw/config.go
  scw/config_test.go
  scw/env_test.go
Owners: @remyleone

feat: add IsAccessKeyWithProjectID
  validation/is.go
Owners: @remyleone

refactor: validate()
  scw/client.go
  scw/client_option.go
Owners: @remyleone

fix after merge
  scw/config_test.go
Owners: @remyleone

export WithDefaultUserAgent()
  scw/client.go
  scw/client_option.go
Owners: @remyleone

feat(object): add support for s3_use_path_style
  scw/README.md
  scw/client.go
  scw/client_option.go
  scw/client_test.go
  scw/config.go
  scw/config_test.go
  scw/env.go
  scw/env_test.go
Owners: @remyleone

fix tests
  scw/config_test.go
Owners: @remyleone

feat(client): retrieve the API Gateway metadata
  scw/client.go
  scw/client_test.go
Owners: @remyleone

feat(ipam): add nqte to ipam, ipam internal and ipam admin
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

refactor(search): remove enum and use a string instead
  api/ipam/v1/ipam_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-network, @remyleone

feat(permission/v1): add UnauthenticatedAWSApi
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-network, @remyleone

feat(ipam): add support for `nats_cluster` (#3255)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

refactor(search): remove enum and use a string instead (#3256)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(client): retrieve the API Gateway metadata (#3254)
  scw/client.go
  scw/client_test.go
Owners: @remyleone

feat: add IsAccessKeyWithProjectID (#3248)
  validation/is.go
Owners: @remyleone

feat(product_catalog): add support for kafka VolumeType, NodeType, StorageType (#3258)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

Remove coverage files
  coverage.out
  coverage.xml
Owners: @remyleone

feat(object): add support for s3_use_path_style (#3253)
  scw/README.md
  scw/client.go
  scw/client_option.go
  scw/client_test.go
  scw/config.go
  scw/config_test.go
  scw/env.go
  scw/env_test.go
Owners: @remyleone

feat(product_catalog): split Serverless Containers estimation for CPU and Memory
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-storage, @remyleone, @scaleway/devtools-core, @scaleway/devtools-network, @scaleway/devtools-compute

docs(tem): update mimetypes
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-storage, @remyleone, @scaleway/devtools-core, @scaleway/devtools-network, @scaleway/devtools-compute

chore(search): add missing timestamp, created_at, updated_at to resource
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-storage, @remyleone, @scaleway/devtools-core, @scaleway/devtools-network, @scaleway/devtools-compute

feat(datawarehouse): allow max CPU field up to 30 DTWH-563
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-storage, @remyleone, @scaleway/devtools-core, @scaleway/devtools-network, @scaleway/devtools-compute

feat(srn): use API Gateway /metadata instead of hardcoded string (#3260)
  api/block/v1/block_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-storage, @remyleone, @scaleway/devtools-core, @scaleway/devtools-network, @scaleway/devtools-compute

feat: add fr-snc region and zones
  scw/locality.go
Owners: @remyleone

chore(search): add missing timestamp, created_at, updated_at to resource (#3262)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

fix tests
  scw/client_option_test.go
Owners: @remyleone

fix tests
  scw/locality.go
  scw/locality_test.go
Owners: @remyleone

feat: update generated APIs
  api/dedibox/v1/dedibox_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute-foundation, @remyleone

docs: fix typos (#3265)
  api/dedibox/v1/dedibox_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute-foundation, @remyleone

feat(billing): add electronic billing api
  api/billing/v2/billing_sdk.go
Owners: @scaleway/devtools-core

feat(billing): add electronic billing api (#3266)
  api/billing/v2/billing_sdk.go
Owners: @scaleway/devtools-core

feat(instance/v2alpha1): expose the number of templates in the dashboard counter (#3267)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add support for containers (#3268)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(vcr): remove X-Registry-Auth from headers in cassettes
  vcr/vcr.go
Owners: @remyleone

feat(vcr): remove X-Registry-Auth from headers in cassettes (#3269)
  vcr/vcr.go
Owners: @remyleone

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network
