Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

docs(cockpit): add documentation for enable/disable alert rules requests (#2586)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(apple_silicon): add public bandwidth configuration feature (#2587)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

docs(containers): document VPC integration fields (#2589)
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): activate filesystems ids on Server in SDK generation (#2592)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(billing): add support for `RedeemCoupon` (#2590)
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat(function): add support for VPC integration (#2591)
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat(interlink): add support for `RoutingPolicyV4ID`, `RoutingPolicyV6ID` and `IsIPv6` (#2593)
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add phone number to account user info (#2594)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(instance): add waiter filesystem
  api/instance/v1/instance_utils.go
Owners: @scaleway/devtools-compute

add ServerFilesystemStateUnknownState
  api/instance/v1/instance_utils.go
Owners: @scaleway/devtools-compute

add ServerFilesystemStateUnknownState
  api/instance/v1/instance_utils.go
Owners: @scaleway/devtools-compute

add ServerFilesystemStateUnknownState
  api/instance/v1/instance_utils.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/mongodb/v1alpha1/mongodb_sdk.go
Owners: @remyleone

feat(instance): add waiter filesystem (#2595)
  api/instance/v1/instance_utils.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

Fix
  api/instance/v1/instance_sdk.go
  api/instance/v1/instance_utils.go
Owners: @scaleway/devtools-compute

docs(instance): fix terminate action documentation and remove b_ssd volumes documentation (#2598)
  api/instance/v1/instance_sdk.go
  api/instance/v1/instance_utils.go
Owners: @scaleway/devtools-compute

Fix
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_utils.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute

feat(iam): add GetOrganization and SetOrganizationAlias (#2599)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add key_id to secret info (#2601)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(cockpit): update wording (#2602)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/mongodb/v1alpha1/mongodb_sdk.go
Owners: @remyleone

feat(mongodb): add support for `InstanceSnapshotSchedule` (#2606)
  api/mongodb/v1alpha1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat(key_manager): add key scheduled deletion and restoration (#2607)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

chore(mongodb): make mongodb public (#2608)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
