Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

revert unrelated changes
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

chore(k8s): update comments (#3445)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-core, @remyleone

feat(redis): add srn fields
  api/account/v3/account_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-dms

feat(key_manager): make protection_level visible
  api/account/v3/account_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-dms

feat(key_manager): remove audit on wrap/unwrap endpoint
  api/account/v3/account_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-dms

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-dms

feat(vpc): use body params in POST vpc-s3 enable with PN instead of query_params
  api/account/v3/account_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network

Fix
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

fix(mongodb): fix typo in url (#3451)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

Fix
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

Fix
  api/account/v3/account_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-dms

feat(redis): add support for SRNs (#3452)
  api/redis/v1/redis_sdk.go
Owners: @scaleway/devtools-dms

feat(key_manager): make protection_level visible (#3453)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

Fix
  api/account/v3/account_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-dms

feat(vpc): use body params in POST vpc-s3 enable with PN instead of query_params (#3456)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute

fix: need ci when launching tools-release
  api/account/v3/account_sdk.go
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/container/v1/container_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-compute

feat(key_manager): add GenerateKeyMaterialImportParameters endpoint
  api/account/v3/account_sdk.go
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/container/v1/container_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-compute

revert unrelated changes
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

revert unrelated changes
  api/account/v3/account_sdk.go
  api/container/v1/container_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/annotations/v1/annotations_sdk.go
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/container/v1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-dms

feat(container): add support for the `srn` field (#3461)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(apple_silicon): add `zone` field to ServerType & OS (#3462)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(autoscaling): add SRNs to the API
  api/account/v3/account_sdk.go
  api/annotations/v1/annotations_sdk.go
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/block/v1/block_sdk.go
  api/container/v1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-dms

fix(search): rename resource type datalab
  api/account/v3/account_sdk.go
  api/annotations/v1/annotations_sdk.go
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/block/v1/block_sdk.go
  api/container/v1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-dms

revert unrelated changes
  api/account/v3/account_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute

feat(key_manager): add GenerateKeyMaterialImportParameters endpoint (#3463)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(container): add support for the `srn` field (#3461)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

revert unrelated changes
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/function/v1beta1/function_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-compute, @scaleway/devtools-core

fix: notify job rules
  api/account/v3/account_sdk.go
  api/annotations/v1/annotations_sdk.go
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/block/v1/block_sdk.go
  api/container/v1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-dms

feat(instance): add SKU on DedicatedPoolServerType
  api/account/v3/account_sdk.go
  api/annotations/v1/annotations_sdk.go
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/block/v1/block_sdk.go
  api/container/v1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-dms

fix: notify on failure only
  api/account/v3/account_sdk.go
  api/annotations/v1/annotations_sdk.go
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/block/v1/block_sdk.go
  api/container/v1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-dms

revert unrelated changes
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/function/v1beta1/function_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

chore: disable lint for `setSRN` methods (#3467)
  api/account/v3/account_sdk.go
  api/annotations/v1/annotations_sdk.go
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/block/v1/block_sdk.go
  api/container/v1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/redis/v1/redis_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-dms

revert unrelated changes
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/function/v1beta1/function_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
