Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

fix(vpc): rename s3-integration endpoints to object-storage-private-access (#3293)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

docs(containers): add it-mil as supported region
  api/container/v1/container_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

fix(secret_manager): add editorial fixes
  api/container/v1/container_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

fix(key_manager): add editorial fixes
  api/container/v1/container_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

fix(qaas): add editorial fixes
  api/container/v1/container_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat(k8s): support listing pool user-data key
  api/container/v1/container_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat: update generated APIs
  api/container/v1/container_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

revert unlrelated changes
  api/container/v1/container_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat(k8s): rm deprecated CNI fields
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): add `additional_components` field to version message
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

add deprecation
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): add `max_termination_grace_period` field
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): support listing pool user-data key
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): rm deprecated CNI fields (#3303)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): add `additional_components` field to version message (#3304)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): add `max_termination_grace_period` field (#3305)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): support listing pool user-data key (#3306)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/container/v1/container_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

revert mongo changes
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

revert unrelated k8s changes
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

docs(containers): add it-mil as supported region (#3296)
  api/container/v1/container_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

de-duplicate code
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(search): remove temporarily IAM from public search (#3307)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

chore(product_catalog): expose Serverless SQL Databases in the Product Catalog
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

fix(k8s): add userdata configuration to createCluster service
  api/k8s/v1/k8s_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

chore(multiple_namespaces): fix MD009
  api/k8s/v1/k8s_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

chore(multiple_namespaces): fix MD019
  api/k8s/v1/k8s_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

chore(multiple_namespaces): fix MD026
  api/k8s/v1/k8s_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat(key_manager): add path for wrap and unwrap key with ml-kem and add permission_action
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): fix MD032
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): fix MD076
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(domain): fix MD010
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): fix MD023
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): fix MD004
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): fix MD059
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): fix MD040
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone

chore(multiple_namespaces): fix MD007
  api/k8s/v1/k8s_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-core, @remyleone
