Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat(billing): add consumer_id to v2beta1.ListConsumptions (#2793)
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat(webhosting): add the `CreateWebsite` and `DeleteWebsite` endpoints (#2794)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(s2s_vpn): use secret manager to store connection psk (#2795)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(datawarehouse): add data warehouse to doc website (#2796)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(edge_services): add websocket option to load balancer origin (#2797)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

chore(k8s): update links k8s (#2798)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(rdb): deprecate GetInstanceMetrics endpoint (#2799)
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat(audit_trail): add edge-services resources (#2801)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(webhosting): add offer option (#2803)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

fix(cockpit): respect newline (#2804)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

fix(rdb): use BoolValue type for skip_size_retrieval option in ListDatabases endpoint (#2800)
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

chore(instance): remove field export_uri on the Instance API (#2802)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

feat(kafka): add v1alpha1 (#2806)
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

docs(cockpit): rephrase deprecation notes to fix lint error (#2807)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(webhosting): add public offers control panels list (#2808)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

chore(cockpit): deprecate grafana users (#2809)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(iam): add SCIM related endpoints (#2811)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(interlink): add support for `VlanRange` (#2810)
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/baremetal/v1/baremetal_sdk.go
  api/block/v1/block_sdk.go
  api/block/v1alpha1/block_sdk.go
  api/cockpit/v1/cockpit_sdk.go
  api/container/v1beta1/container_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/iot/v1/iot_sdk.go
  api/jobs/v1alpha1/jobs_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
  api/mnq/v1beta1/mnq_sdk.go
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-core

chore: fix typos (#2812)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/baremetal/v1/baremetal_sdk.go
  api/block/v1/block_sdk.go
  api/block/v1alpha1/block_sdk.go
  api/cockpit/v1/cockpit_sdk.go
  api/container/v1beta1/container_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
  api/function/v1beta1/function_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/iot/v1/iot_sdk.go
  api/jobs/v1alpha1/jobs_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
  api/mnq/v1beta1/mnq_sdk.go
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-core

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add iam SCIM resources (#2813)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/baremetal/v1/baremetal_sdk.go
  api/block/v1/block_sdk.go
  api/block/v1alpha1/block_sdk.go
  api/container/v1beta1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/flexibleip/v1alpha1/flexibleip_sdk.go
  api/function/v1beta1/function_sdk.go
  api/inference/v1/inference_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/iot/v1/iot_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
  api/lb/v1/lb_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/mongodb/v1alpha1/mongodb_sdk.go
  api/qaas/v1alpha1/qaas_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/redis/v1/redis_sdk.go
  api/registry/v1/registry_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/tem/v1alpha1/tem_sdk.go
  api/test/v1/test_sdk.go
  api/vpcgw/v1/vpcgw_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network, @scaleway/devtools-ai

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone
