Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: add support for env var
  scw/README.md
  scw/env.go
  scw/env_test.go
Owners: @remyleone

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

chore(vpc): remove not implemented subnet methods (#3137)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

fix(scw): handle empty string values in Zone and Region parsing (#3135)
  scw/locality.go
Owners: @remyleone

feat(search): add support for `autoscaling_group` (#3138)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(k8s): make `PrivateNetworkID` optional in `Pool` (#3139)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

fix(searchdb): mark `node_amount` and `node_count` optional (#3136)
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/jobs/v1alpha2/jobs_sdk.go
  api/mailbox/v1alpha1/mailbox_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat(product-catalog): add support for `open_search` (#3140)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(mailbox): add missing aliases endpoints (#3141)
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

chore(jobs): change documentation (#3142)
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

chore(instance/v1): deprecate most fields of the Task message (#3143)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(object): add support for s3_url in profile
  scw/client_option.go
  scw/client_test.go
  scw/config.go
  scw/env.go
Owners: @remyleone

fix(config): fix tests
  scw/config.go
  scw/config_test.go
Owners: @remyleone

fix(object): add missing s3_endpoint fields
  scw/client.go
  scw/client_option.go
  scw/config.go
Owners: @remyleone

chore(object): rename from URL to Endpoint for coherence
  scw/client_option.go
  scw/client_test.go
  scw/config.go
  scw/env.go
Owners: @remyleone

feat: add GetS3EndpointFromAWSConf
  scw/env.go
Owners: @remyleone

go mod tidy
  go.mod
  go.sum
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): filter by version in the list cluster service (#3144)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): expose the field default on offer commitment (#3146)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(baremetal): add ECC memory type (#3145)
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add RAM ECC type (#3147)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat(functions): deprecate old runtimes and add new ones (#3149)
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/block/v1/block_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
  api/secret/v1beta1/secret_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-storage, @remyleone, @scaleway/devtools-compute, @scaleway/devtools-core, @scaleway/devtools-network

fix
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

fix
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): add support for `v2alpha1` (#3151)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

go mod tidy after merge
  go.mod
  go.sum
Owners: @remyleone

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

rm aws dependencies and simplify config retrieval
  go.mod
  go.sum
  scw/env.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
