Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(datawarehouse): add move_factor field to CreateDeploymentRequest and UpdateDeploymentRequest (#3124)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(audit-trail): add support for `gapi_dedicated_deployment` and `gapi_dedicated_model` (#3125)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(search): add support for `sedb_cluster` (#3126)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(audit_trail): add endpoint for overview of auditTrail Event (#3127)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

test: check for the entire warning
  scw/config_test.go
Owners: @remyleone

test(config): handle errors
  scw/config_test.go
Owners: @remyleone

feat: check and warn about config file permissions #2574
  scw/config.go
Owners: @remyleone

feat: check permissions are not too restrictive
  scw/config.go
  scw/config_test.go
Owners: @remyleone

test: add tests for the permissions check
  scw/client_option_test.go
  scw/config_test.go
  scw/env_test.go
  scw/load_config_test.go
Owners: @remyleone

test: check output even with expected error
  scw/config_test.go
Owners: @remyleone

fix : edit warning text
  scw/config.go
Owners: @remyleone

fix: check permissions more thoroughly
  scw/config.go
  scw/config_test.go
Owners: @remyleone

fix: allow too restrictive without warning
  scw/config.go
  scw/config_test.go
Owners: @remyleone

chore: rm redundant condition
  scw/config.go
Owners: @remyleone

fix: simplify check permissions
  scw/config.go
Owners: @remyleone

test: add successful test case
  scw/config_test.go
Owners: @remyleone

refactor setEnv()
  scw/config_test.go
Owners: @remyleone

fix: reset setEnv() function and add setEnvWithPerms()
  scw/client_option_test.go
  scw/config_test.go
  scw/env_test.go
  scw/load_config_test.go
Owners: @remyleone

format: shorten lines
  scw/config.go
  scw/config_test.go
Owners: @remyleone

fix permission comparison
  scw/config.go
Owners: @remyleone

fix lint
  scw/config_test.go
Owners: @remyleone

feat: add a 'user_agent' field to the config file #1685
  scw/config.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

fix(edge_services): add body param for new rpc endpoint (#3128)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(product-catalog): add support for `apache_kafka` (#3129)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(k8s): add support for `PrivateNetworkID` in `CreatePool` (#3132)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(vpc): add support for `EnableTransitivity` (#3133)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

Apply suggestions
  scw/client.go
  scw/client_option.go
  scw/config.go
Owners: @remyleone

feat: update generated APIs
  api/billing/v2/billing_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute

Fix
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat(billing): add support for v2 (billing alerts) (#3134)
  api/billing/v2/billing_sdk.go
Owners: @scaleway/devtools-core

fix tests!
  scw/client_test.go
  scw/config.go
  scw/config_test.go
  scw/load_config_test.go
Owners: @remyleone

fix(scw): handle empty string values in Zone and Region parsing
  scw/locality.go
Owners: @remyleone

feat: update generated APIs
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone
