Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

use errors.Wrap to implement SdkError
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

fix typo 'may' to 'many'
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

refactor SetUserData loop
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

chore(containers): remove generation exclusion for "enable_default_public_endpoint" field
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(product_catalog): add dual_attach to Elastic Metal product
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(functions): add Audit Trail annotations on maps
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

chore(instance): expose the provisioned_address field
  api/container/v1/container_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

chore(containers): remove generation exclusion for "enable_default_public_endpoint" field (#3384)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(search): add resource infos to yml
  api/container/v1/container_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

fix(account): require authentication_response for FinishWebAuthnAuthentication
  api/container/v1/container_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

feat(billing): add consumer_organization_name to CC Range Report
  api/container/v1/container_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @scaleway/devtools-compute, @remyleone

chore(instance): expose the provisioned_address field (#3387)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(search): add resource infos to yml (#3388)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(instance): add dedicated pools (#3390)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

refactor all methods
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

fix method with Patch
  api/instance/v1/instance_metadata_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): add 'ListServerCompatibleTypes' RPC
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

chore(containers): remove CLI exclusion for "enable_default_public_endpoint"
  api/container/v1/container_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/container/v1/container_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

fix
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

chore(containers): remove CLI exclusion for "enable_default_public_endpoint" (#3392)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): add 'ListServerCompatibleTypes' RPC (#3391)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

chore(instance): document minimal position for security rule (#3393)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(s2s_vpn): add support for updating Connection's PSK secret (#3394)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(audit_trail): add TestCustomAlertRule endpoint
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(partner): add link to the Billing API MTA-6927
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(instance): add the missing ListServerCompatibleTypes documentation
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/instance/v2alpha1/instance_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

feat(k8s): allow to generate vpc kubeconfigs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/k8s/v1/k8s_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

feat(audit_trail): add TestCustomAlertRule endpoint (#3395)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(instance): add the missing ListServerCompatibleTypes documentation (#3397)
  api/instance/v2alpha1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): allow to generate vpc kubeconfigs (#3398)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(baremetal): add dual attach flag
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

chore(containers): bump max MaxScale to 200
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(resource): add it-mil-2 and 3 AZs
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(generative_apis): revert switch from admin api to public
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(apple_silicon): add SRN support
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(audit_trail): add WOFL workflow version resource type for SAA-462
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation, @remyleone

feat(baremetal): add support for `DualAttach` (#3399)
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(apple-silicon): add support for SRN (#3403)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
