Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add filter by API ID in the catalog API (#3022)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(edge_services): add status to stages (#3023)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(inference): add organization id to ListModelsRequest (#3024)
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat(inference): update max_size field documentation (#3025)
  api/inference/v1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat(vcr): add project_id, start and end to QueryMatcherIgnore for container logs tests
  vcr/matchers.go
Owners: @remyleone

feat(vcr): add fields to QueryMatcherIgnore for container logs tests (#3028)
  vcr/matchers.go
Owners: @remyleone

feat(block): introduce public snapshots (#3027)
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

docs(domain): update description for dns zone update (#3030)
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

fix(locality): add support for zone value
  scw/locality.go
Owners: @remyleone

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/container/v1/container_sdk.go
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

docs(containers): update doc for CreateContainer to reflect internal changes (#3031)
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(serverless): add note on UpdateContainer and redeploy (#3032)
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

docs(containers): clean v1 docs + generate SDKs (#3033)
  api/container/v1/container_sdk.go
Owners: @scaleway/devtools-compute

fix(internal/aync): fix deadlock and keep the goroutine
  internal/async/wait.go
  internal/async/wait_test.go
Owners: @remyleone

fix(internal/async): fix deadlock by removing goroutine
  internal/async/wait.go
  internal/async/wait_test.go
Owners: @remyleone

feat: update generated APIs
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

fix(internal/async): fix deadlock by removing goroutine (#3034)
  internal/async/wait.go
  internal/async/wait_test.go
Owners: @remyleone

feat(baremetal): expose BatchCreateServers (#3036)
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/datalab/v1beta1/datalab_sdk.go
Owners: @remyleone

chore(datalab): update documentation with explicit ref to Apache Spark™ instead of Data Lab (#3038)
  api/datalab/v1beta1/datalab_sdk.go
Owners: @remyleone

feat(mailbox): remove JMAP (#3037)
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(edge_services): show doc for serverless integration (#3039)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(datawarehouse): add audit trail support (#3040)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/vpc/v2/vpc_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat(cockpit): add idle status to exporter (#3041)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(lb): add custom sni & host (#3042)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network
