Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat(autoscaling): update api default version to v1alpha2
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/lb/v1/lb_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat(product_catalog): add Instance Local SSD Snapshot/Storage
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/lb/v1/lb_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat(datawarehouse): add support for SRN (#3197)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(vpc_gw): add support for SRN (#3199)
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @scaleway/devtools-network

feat(ipam): add support for SRN (#3205)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(lb): add support for filtering lb with lbid (#3206)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(search): add sort/pagination and empty query possible
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/lb/v1/lb_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat(webhosting): add delete_hosting_at_end to UpdateHostingRequest to toggle auto-renew
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/lb/v1/lb_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @remyleone, @scaleway/devtools-network, @scaleway/devtools-dms

feat(ipam): add support for cli generation for attach, detach and move
  api/lb/v1/lb_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-network, @remyleone, @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @remyleone, @scaleway/devtools-dms

refactor: save aws env vars
  scw/env.go
Owners: @remyleone

docs(tem): add mimetypes for webp and tiff
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @remyleone, @scaleway/devtools-dms

feat(autoscaling): add v1alpha2 description
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @remyleone, @scaleway/devtools-dms

feat(billing): add project_name and organization_name to ListConsumptions response
  api/billing/v2beta1/billing_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-dms

feat(k8s): revert to older behaviour
  api/billing/v2beta1/billing_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-dms

feat: update generated APIs
  api/billing/v2beta1/billing_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-dms

feat(pcu): add support for `instance_local_ssd_snapshot` and `instance_local_ssd_storage` (#3207)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/billing/v2beta1/billing_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/search/v1alpha1/search_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-dms

feat(search): add sort/pagination and empty query possible (#3208)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/billing/v2beta1/billing_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms

feat(webhosting): add delete_hosting_at_end to UpdateHostingRequest to toggle auto-renew (#3209)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(billing): add project_name and organization_name to ListConsumptions response (#3214)
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

Fix
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

Fix
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat(k8s): revert to older behaviour (#3215)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

Fix
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(iam): add support for SRN (#3218)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(resource): add resource_type enum
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add custom alerts (#3219)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

chore(product_catalog): block storage refacto
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(pcu): add support for block Snapshot and Volume (#3222)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(data_orchestrator): add run-serverless-container as task in workflow dsl
  api/autoscaling/v1alpha2/autoscaling_sdk.go
Owners: @remyleone

feat(search): add relevance value to order_by enum
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(audit_trail): audit custom alert rules methods
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

fix(datawarehouse): reduce commonization in Endpoints
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(autoscaling): add reference to description
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

fix(instance): move instance.v2alpha volume api documentation to volume_api.yml
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/instance/v2alpha1/instance_sdk.go
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone, @scaleway/devtools-compute
