Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

fix(config): fix tests
  scw/config.go
  scw/config_test.go
Owners: @remyleone

feat(object): add support for s3_url in profile
  scw/client_option.go
  scw/client_test.go
  scw/config.go
  scw/env.go
Owners: @remyleone

fix(object): add missing s3_endpoint fields
  scw/client.go
  scw/client_option.go
  scw/config.go
Owners: @remyleone

chore(vpc): edit region description (#3103)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(key_manager): add ml-dsa post quantum signature algorithm (#3107)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat: update generated APIs
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat(product_catalog): add serverless jobs products to catalog APIs (#3108)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(block): add 'zone' field to 'volume' resource (#3109)
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat(file): add 'region' field to 'attachment' resource (#3110)
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(mailbox): add create alias endpoint (#3111)
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

revert changes
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

docs(mailbox): add descriptions to structures and methods (#3112)
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat(audit_trail): add edge services VPC endpoint resource type (#3113)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(product_catalog): add new fields to generative APIs (#3114)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(searchdb): remove node_amount field (#3115)
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat(search): add support for `kafk_cluster` (#3118)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(audit-trail): add support for `autoscaling_group` (#3117)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/iot/v1/iot_sdk.go
  api/lb/v1/lb_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/registry/v1/registry_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms, @scaleway/devtools-network

feat(search/v1alpha1): add iam resources (#3119)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(webhosting): add hosting provider (#3121)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(environmental_footprint): add generative API's to EFP user api (#3122)
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

fix(searchdb): add ignore_empty to node fields to fix backward compatibility SCBL-453 (#3120)
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

chore: remove extra white space (#3123)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/iot/v1/iot_sdk.go
  api/lb/v1/lb_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/registry/v1/registry_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-dms, @scaleway/devtools-network

feat: update generated APIs
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
