Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat: add nightly tests
  .github/workflows/nightly.yml
  cmd/sdk-sweeper/main.go
  internal/testhelpers/httprecorder/recorder.go
Owners: @remyleone

feat(block): add utils to v1
  api/block/v1/snapshot_utils.go
  api/block/v1/volume_utils.go
Owners: @scaleway/devtools-storage

feat: add nightly tests (#2648)
  .github/workflows/nightly.yml
  cmd/sdk-sweeper/main.go
  internal/testhelpers/httprecorder/recorder.go
Owners: @remyleone

feat(block): add utils to v1 (#2649)
  api/block/v1/snapshot_utils.go
  api/block/v1/volume_utils.go
Owners: @scaleway/devtools-storage

fix test path
  .github/workflows/nightly.yml
Owners: @remyleone

ci(nightly): fix test path (#2650)
  .github/workflows/nightly.yml
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/baremetal/v1/baremetal_sdk.go
  api/iam/v1alpha1/iam_sdk.go
  api/instance/v1/instance_sdk.go
  api/lb/v1/lb_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @remyleone, @scaleway/devtools-compute-foundation, @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-dms

feat(audit_trail): add baremetal resources
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

docs(baremetal): update descriptions
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(iam): deprecate invitation_pending status now that guests don't exist anymore
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

docs(instance): update DetachServerFileSystem description
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

docs(lb): fix ACL match field description
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(webhosting): add hosting updating status
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): add hosting updating status (#2657)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

docs(instance): update DetachServerFileSystem description (#2655)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(audit_trail): add baremetal resources (#2652)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

docs(lb): fix ACL match field description (#2656)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(iam): deprecate `UserStatus` (#2654)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

docs(baremetal): update descriptions (#2653)
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation

fix missing config
  .github/workflows/nightly.yml
  scw/config.go
Owners: @remyleone

move statement to CreateRecordedScwClient
  internal/testhelpers/httprecorder/recorder.go
  scw/config.go
Owners: @remyleone

fix secret key segfault rather than having special behavior for the nightly
  .github/workflows/nightly.yml
  internal/testhelpers/httprecorder/recorder.go
Owners: @remyleone

feat(client): add an interface to set insecure mode on alt transport
  scw/client.go
  scw/client_test.go
Owners: @remyleone

feat(client): add an interface to set insecure mode on alt transport (#2659)
  scw/client.go
  scw/client_test.go
Owners: @remyleone

feat(vpc): add retry function when deleting private networks
  api/vpc/v2/vpc_utils.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat(mongodb): add list databases route (#2662)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat(k8s): support setting PodCidr, ServiceCidr, and ServiceDNSIP during cluster creation (#2661)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

ci(nightly): fix missing config error (#2658)
  internal/testhelpers/httprecorder/recorder.go
Owners: @remyleone

feat(vpc): add retry function when deleting private networks (#2660)
  api/vpc/v2/vpc_utils.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

chore: add Makefile and formatting
  Makefile
Owners: @remyleone

chore: add Makefile and formatting
  Makefile
  formatting/run.sh
Owners: @remyleone

feat(audit-trail): add support for `EventSystem` (#2663)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(domain): add WaitForDNSRecordNotExist waiter
  api/domain/v2beta1/domain_utils.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): add free subdomain support (#2666)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add new product status end of sale (#2667)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone
