Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

chore(lint): ignore recently deprecated sweeper calls
  api/container/v1beta1/sweepers/sweepers.go
Owners: @scaleway/devtools-compute

chore(serverless): deprecate `v1beta1` Serverless Containers API (#3178)
  api/container/v1beta1/container_sdk.go
  api/container/v1beta1/sweepers/sweepers.go
Owners: @scaleway/devtools-compute

feat(product_catalog): add all serverless sub types in public and admin APIs (#3179)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(k8s): add error message on Pool
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): add error message on Pool (#3184)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat(dataviz): add superset
  api/billing/v2beta1/billing_sdk.go
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-network

feat(billing): add credit_note as invoice type (#3185)
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat(dataviz): add superset (#3186)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/annotations/v1/annotations_sdk.go
Owners: @remyleone

feat(annotations): add Annotations API (#3187)
  api/annotations/v1/annotations_sdk.go
Owners: @remyleone

feat(kafka): remove references to Beta for GA MTA-7209
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

feat(kafka): remove references to Beta (#3188)
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat(billing): add organization_name and project_name to FinOpsApi's Charge (#3189)
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

fix(datawarehouse): add NodePrivateNetworkDetails message
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(product_catalog): add support for new HSM backed Key Manager Keys in our APIs
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(billing): add ListCharges method to Billing's PartnerApi
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

fix(datawarehouse): add NodePrivateNetworkDetails message (#3190)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(environmental_footprint): add serverless products to EFP user API
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

fix(file): update create/update limits of filesystems
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(environmental_footprint): add serverless products to EFP user API (#3193)
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

fix(file): update create/update limits of filesystems (#3194)
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(product_catalog): add default reasoning value for generative models in our APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add default reasoning value for generative models in our APIs (#3196)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(datawarehouse): add resource annotations
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(autoscaling): add scaling min max and target type to group summary
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(vpc_gw): add resource annotation
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

fix(billing): remove alpha tip + editorial fixes
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat(product_catalog): add serverless containers estimation values
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

check S3 endpoint IsURL
  scw/client_option.go
Owners: @remyleone

fix the check
  scw/client_option.go
Owners: @remyleone

use default options like api url
  scw/client.go
  scw/client_option.go
Owners: @remyleone

fix test
  scw/client_option_test.go
Owners: @remyleone

feat(data_orchestrator): add RUN serverless-container as task in workflow dsl
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

chore: update CODEOWNERS
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat: update generated APIs
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat(ipam): add resource annotation
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/ipam/v1/ipam_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
Owners: @remyleone, @scaleway/devtools-network
