Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(ipam): add a new kafka_cluster resource (#2609)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(product_catalog): add product type block storage (#2610)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(apple_silicon): add batch create endpoints (#2611)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(ipam): add a new bgp_endpoint resource (#2612)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

fix(instance): let backend resolve marketplace images
  api/instance/v1/instance_sdk.go
  api/instance/v1/instance_sdk_server_test.go
  api/instance/v1/server_utils.go
  api/instance/v1/server_utils_test.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat(rdb): add has_maintenances filter to ListInstances endpoint and... (#2613)
  api/rdb/v1/rdb_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): filter by locality (#2614)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

revert(product_catalog): filter by locality (#2616)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): filter by locality (#2617)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(interlink): choose vlan for self-hosted links (#2618)
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat(edge_services): add include_cookies to cache-stage (#2619)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat(audit_trail): add instance server resource type (#2620)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(qaas): add support for booking (#2621)
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

fix(config): simplify config file not found error
  scw/config.go
  scw/config_test.go
  scw/errors.go
  scw/load_config_test.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(cockpit): add getRulesCount endpoint (#2623)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

fix(instance): let backend resolve marketplace images
  api/instance/v1/instance_sdk.go
  api/instance/v1/instance_sdk_server_test.go
  api/instance/v1/server_utils.go
  api/instance/v1/server_utils_test.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

fix lint
  scw/client.go
Owners: @remyleone

feat(product_catalog): add block storage properties to admin and public api (#2624)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  scw/client.go
Owners: @remyleone

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

tests(marketplace): update expected local image ID for ubuntu_focal
  api/marketplace/v2/marketplace_utils_test.go
  api/marketplace/v2/testdata/go-vcr.yaml
Owners: @scaleway/devtools-compute

tests(container): update cassette for TestListContainerNamespaceMultipleRegions
  api/container/v1beta1/testdata/container-list-regions.yaml
Owners: @scaleway/devtools-compute

feat(k8s): add node metadata fields for provider and updater (#2625)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

fix(k8s): change installer_tags to repeated string with unique validation (#2627)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(audit_trail): remove deprecated resource field (#2629)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
