Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat(edge_services): add serverless function backend (#2881)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(containers): add missing statuses in v1beta1 + improve docs (#2884)
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/block/v1/block_sdk.go
  api/block/v1alpha1/block_sdk.go
Owners: @scaleway/devtools-storage

chore(block): remove volume size limit from description (#2885)
  api/block/v1/block_sdk.go
  api/block/v1alpha1/block_sdk.go
Owners: @scaleway/devtools-storage

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

chore(k8s): remove MigratePoolsToNewImagesRequest (#2886)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

chore(k8s): add MigratePoolsToNewImagesRequest (#2887)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

chore(cockpit): change documentation order + required field + data-exporter rework (#2888)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(lb): add enum letsencrypt and deprecate letsencryt (#2889)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

docs(k8s): update documentation (#2890)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

chore(instance): expose the maximum number of scratch volumes with ListServerTypes (#2891)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(product_catalog): add Kubernetes products to public and admin catalog APIs (#2892)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(product_catalog): add alternative dedibox IDs for elastic metal servers (#2894)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(edge_services): add doc and cli for head stage (#2895)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add vpc-gw resources info (#2897)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

chore(instance): expose the scratch volume count in the API (#2898)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): allow patching security_group_id on existing pools (#2899)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(resource_private): add s2s_vpn in resource count (#2900)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat(searchdb): add support for `v1alpha1` (#2901)
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat(sweepers): allow sweepers to be scoped to the default project id (#2757)
  api/account/v3/sweepers/sweepers.go
  api/applesilicon/v1alpha1/sweepers/sweepers.go
  api/baremetal/v1/sweepers/sweepers.go
  api/block/v1alpha1/sweepers/sweepers.go
  api/cockpit/v1/sweepers/sweepers.go
  api/container/v1beta1/sweepers/sweepers.go
  api/flexibleip/v1alpha1/sweepers/sweepers.go
  api/function/v1beta1/sweepers/sweepers.go
  api/inference/v1/sweepers/sweepers.go
  api/instance/v1/sweepers/sweepers.go
  api/iot/v1/sweepers/sweepers.go
  api/ipam/v1/sweepers/sweepers.go
  api/jobs/v1alpha1/sweepers/sweepers.go
  api/k8s/v1/sweepers/sweepers.go
  api/lb/v1/sweepers/sweepers.go
  api/mnq/v1beta1/sweepers/sweepers.go
  api/mongodb/v1/sweepers/sweepers.go
  api/mongodb/v1alpha1/sweepers/sweepers.go
  api/rdb/v1/sweepers/sweepers.go
  api/redis/v1/sweepers/sweepers.go
  api/registry/v1/sweepers/sweepers.go
  api/secret/v1beta1/sweepers/sweepers.go
  api/serverless_sqldb/v1alpha1/sweepers/sweepers.go
  api/tem/v1alpha1/sweepers/sweepers.go
  api/vpc/v2/sweepers/sweepers.go
  api/vpcgw/v1/sweepers/sweepers.go
  api/webhosting/v1/sweepers/sweepers.go
  cmd/sdk-sweeper/main.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai, @remyleone

feat: update generated APIs
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-compute

disable gocritic linter for api/jobs/v1alpha2/jobs_sdk.go
  .golangci.yml
Owners: @remyleone

chore(serverless_jobs): add console endpoint v1alpha2 (#2903)
  .golangci.yml
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @remyleone, @scaleway/devtools-compute

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
