Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

add exclusion
  .golangci.yml
Owners: @remyleone

remove settings
  .golangci.yml
Owners: @remyleone

exclusions linter instance
  .golangci.yml
Owners: @remyleone

update github action
  .github/workflows/golangci-lint.yml
  .golangci.yml
Owners: @remyleone

fix linter
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

chore: fix golangci-lint (#2507)
  .github/workflows/golangci-lint.yml
  .golangci.yml
  api/edge_services/v1beta1/edge_services_utils.go
  api/instance/v1/instance_sdk_server_test.go
  api/ipam/v1/ipam_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_utils.go
Owners: @remyleone, @scaleway/devtools-network, @scaleway/devtools-compute, @scaleway/devtools-dms

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(instance): add max_file_systems capability (#2521)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
  api/ipam/v1alpha1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(ipam): add vpn_gateway resource type (#2522)
  api/ipam/v1/ipam_sdk.go
  api/ipam/v1alpha1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(product_catalog): add environmental impact (#2523)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(file): add attachments zone (#2524)
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

feat(secret_manager): allow to specify an external key id when creating a secret (#2525)
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(qaas): add new billing and qpu tech (#2526)
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

fix(product_catalog): update environmental impact (#2527)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

fix(instance): activate attach/detach filesystems in the sdk (#2529)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(secret_manager): update documentation about key_id (#2528)
  api/secret/v1beta1/secret_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

fix(cockpit): add return object for enable/disable alert endpoints (#2530)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(inference): add sweeper and waiter to v1
  api/inference/v1/inference_utils.go
  api/inference/v1/sweepers/sweepers.go
Owners: @scaleway/devtools-ai

feat(inference): add sweeper and waiter to v1 (#2532)
  api/inference/v1/inference_utils.go
  api/inference/v1/sweepers/sweepers.go
Owners: @scaleway/devtools-ai

chore(k8s): remove sbs-csi migration route (#2531)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

fix: return error on client creation with empty API URL
  scw/client_option.go
  scw/client_option_test.go
  validation/is.go
Owners: @remyleone

feat(inference): add waiter model
  api/inference/v1/inference_utils.go
Owners: @scaleway/devtools-ai

feat(inference): add waiter model (#2534)
  api/inference/v1/inference_utils.go
Owners: @scaleway/devtools-ai

fix(inference): pointer req
  api/inference/v1/inference_utils.go
Owners: @scaleway/devtools-ai

fix(inference): pointer req (#2535)
  api/inference/v1/inference_utils.go
Owners: @scaleway/devtools-ai

fix: return error on client creation with empty API URL (#2533)
  scw/client_option.go
  scw/client_option_test.go
  validation/is.go
Owners: @remyleone

feat: update generated APIs
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

fix(inference): change waitForCustomModel to waitForModel
  api/inference/v1/inference_utils.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

fix(inference): change waitForCustomModel to waitForModel (#2538)
  api/inference/v1/inference_utils.go
Owners: @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
