Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat: add protected in server request
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

fix(instance): document protected field on Create Server Request (#2502)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/vpcgw/v1/vpcgw_sdk.go
Owners: @scaleway/devtools-network

chore(vpc_gw): deprecate v1 (#2503)
  api/vpcgw/v1/vpcgw_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(instance): add end_of_service flag in ServerList response (#2504)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(account): add unknown value to project qualification subusecase (#2505)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add support for v2alpha1 (#2506)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

fix linter
  .golangci.yml
  api/edge_services/v1alpha1/edge_services_utils.go
  api/edge_services/v1beta1/edge_services_utils.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_utils.go
Owners: @remyleone, @scaleway/devtools-network, @scaleway/devtools-dms

fix linter
  .golangci.yml
  api/edge_services/v1alpha1/edge_services_utils.go
  api/edge_services/v1beta1/edge_services_utils.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_utils.go
Owners: @remyleone, @scaleway/devtools-network, @scaleway/devtools-dms

chore: migrate to golangci-lint v2
  .golangci.yml
  api/instance/v1/instance_sdk_server_test.go
  api/instance/v1/sweepers/sweepers.go
Owners: @remyleone, @scaleway/devtools-compute

nolint:staticcheck
  api/vpcgw/v1/sweepers/sweepers.go
Owners: @scaleway/devtools-network

exclusions linter instance
  .golangci.yml
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

docs(cockpit): clean up global api doc (#2508)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(iam): make sure audience_id is required (#2509)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(account): add qualification field to project response (#2510)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(edge_services): add search waf stage method (#2511)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(lb): add bool to match edge services ips in acls (#2512)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

chore: update go version
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  go.mod
  go.sum
Owners: @remyleone

fix linter
  api/instance/v1/sweepers/sweepers.go
  api/vpcgw/v1/sweepers/sweepers.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-network

fix: linter to bump go version
  api/instance/v1/sweepers/sweepers.go
  api/vpcgw/v1/sweepers/sweepers.go
Owners: @scaleway/devtools-compute, @scaleway/devtools-network

fix: linters to update go
  api/edge_services/v1alpha1/edge_services_sdk.go
  api/instance/v1/sweepers/sweepers.go
  api/vpcgw/v1/sweepers/sweepers.go
Owners: @scaleway/devtools-network, @scaleway/devtools-compute

chore: update go version (#2515)
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  api/instance/v1/sweepers/sweepers.go
  api/vpcgw/v1/sweepers/sweepers.go
  go.mod
  go.sum
Owners: @remyleone, @scaleway/devtools-compute, @scaleway/devtools-network

feat: update generated APIs
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(file): generate SDKs (#2518)
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(cockpit): add EnablePreconfiguredAlertRules endpoint (#2519)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

fix(edge-service): remove v1alpha1
  api/edge_services/v1alpha1/edge_services_sdk.go
  api/edge_services/v1alpha1/edge_services_utils.go
  api/edge_services/v1alpha1/sweepers/sweepers.go
Owners: @scaleway/devtools-network

update version compilation test
  sdk_compilation_test.go
Owners: @remyleone

fix(edge-service): remove v1alpha1 (#2520)
  api/edge_services/v1alpha1/edge_services_sdk.go
  api/edge_services/v1alpha1/edge_services_utils.go
  api/edge_services/v1alpha1/sweepers/sweepers.go
  sdk_compilation_test.go
Owners: @scaleway/devtools-network, @remyleone

chore: migrate to golangci-lint v2
  .golangci.yml
  api/instance/v1/instance_sdk_server_test.go
Owners: @remyleone, @scaleway/devtools-compute

fix linter
  .golangci.yml
  api/edge_services/v1beta1/edge_services_utils.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_utils.go
Owners: @remyleone, @scaleway/devtools-network, @scaleway/devtools-dms

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
