Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat(vpc): add support DefaultRoutePropagationEnabled (#2560)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/mongodb/v1alpha1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/mongodb/v1alpha1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

fix(mongodb): add the new SetUserRole endpoint on the documentation (#2561)
  api/mongodb/v1alpha1/mongodb_sdk.go
Owners: @remyleone

feat(dedibox): add a is_hds flag for ddx2elts servers (#2563)
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(containers): add VPC integration feature flag (#2564)
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/jobs/v1alpha1/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/jobs/v1alpha1/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(serverless_jobs): add support for States in `ListJobsRunsRequest` (#2566)
  api/jobs/v1alpha1/jobs_sdk.go
Owners: @scaleway/devtools-compute

feat(product_catalog): add enum to filter by product type in the public catalog API (#2567)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

fix: Allow for zones as prefix in UUIDs
  validation/is.go
  validation/is_test.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(cockpit): add product and family fields in alert listing (#2570)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(lb): add access_logs field to frontend (#2571)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(dedibox): add a is_hds flag for ddx2elts servers list (#2572)
  api/dedibox/v1/dedibox_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(serverless): add command and args to containers (#2573)
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(ipam): add new ip source (#2575)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(block): copy utils from v1alpha1 to v1
  api/block/v1/snapshot_utils.go
  api/block/v1/sweepers/sweepers.go
  api/block/v1/volume_utils.go
Owners: @scaleway/devtools-storage

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

fix(cockpit): add small precisions in documentation (#2576)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-network

feat(iam): add support for user connection (#2581)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(vpc): add support for `EnableCustomRoutesPropagation` (#2579)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): enable passing a security group ID at pool creation (#2583)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(file): add waiter
  api/file/v1alpha1/file_utils.go
Owners: @remyleone

feat(file): add waiter (#2584)
  api/file/v1alpha1/file_utils.go
Owners: @remyleone

feat: update generated APIs
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(file): add organization_id in ListFileSystemsRequest (#2585)
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
