Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat(pcu): add support for `ServerlessFunctions` (#3062)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(messageq): remove Version from `ListDeployments` (#3061)
  api/messageq/v1alpha1/messageq_sdk.go
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(s2s_vpn): add support for importing custom PSK during connection creation (#3066)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/messageq/v1alpha1/messageq_sdk.go
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat(interlink): support hosted L2 partners & links (#3067)
  api/interlink/v1beta1/interlink_sdk.go
Owners: @remyleone

feat(messageq): add DownloadDeploymentCertificateAuthority (#3068)
  api/messageq/v1alpha1/messageq_sdk.go
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

feat(vcr): normalize buildpacks-related data for matching
  vcr/matchers.go
  vcr/vcr.go
Owners: @remyleone

feat(vcr): normalize buildpacks-related data for container deploy tests (#3069)
  vcr/matchers.go
  vcr/vcr.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add IngressRule resource (#3070)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat(mongodb): add has_maintenance field to ListInstance (#3071)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat(billing): make finops public api visible (#3072)
  api/billing/v2beta1/billing_sdk.go
Owners: @scaleway/devtools-core

feat(environmental_footprint): add ai and managed inference in user_api (#3073)
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
Owners: @remyleone

feat(block): add kms_key_id to CreateVolumeRequest and Volume (#3074)
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat(s2s_vpn): add support for changing PSK secret (#3075)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

chore(account): add contract type for transactional email and storage (#3076)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(product_catalog): restructure managed inference and deprecate instance_gpu_name (#3077)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/mongodb/v1/mongodb_sdk.go
Owners: @scaleway/devtools-compute-foundation, @remyleone

feat(mongodb): add version release date (#3078)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(apple-silicon): add support for `KextEnabled` (#3079)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(audit_trail): add support for `observability_datasource`, `observability_token` and `observability_exporter` (#3085)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/redis/v1/redis_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat(redis): add version release date (#3086)
  api/redis/v1/redis_sdk.go
Owners: @scaleway/devtools-dms

fix(instance): add private_nic's ipam ip ids (#3087)
  api/instance/v1/instance_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(edge_services): update VPC endpoint proto and several fixes (#3088)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute
