Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(datawarehouse): add start and stop deployment (#2907)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat(mongodb): add support for maintainances
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat(mongodb): add support for maintainances (#2905)
  api/mongodb/v1/mongodb_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

chore(k8s): remove MigratePoolsToNewImagesRequest (#2909)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(datawarehouse): add deployment statuses for start/stop routes (#2908)
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
Owners: @remyleone

Fix
  api/datalab/v1beta1/datalab_sdk.go
Owners: @remyleone

feat(datalab): add support for v1beta1 (#2910)
  api/datalab/v1beta1/datalab_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
  api/datalab/v1beta1/datalab_sdk.go
Owners: @scaleway/devtools-dms, @remyleone

feat(cockpit): add support for Exporter (#2912)
  api/cockpit/v1/cockpit_sdk.go
  api/datalab/v1beta1/datalab_sdk.go
Owners: @scaleway/devtools-dms, @remyleone

feat(audit_trail): add vpc-gw resources info (#2911)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(iam): add support for WebAuthnAuthenticator (#2913)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/container/v1beta1/container_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @scaleway/devtools-network, @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(edge_services): add plan backend limit (#2916)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(block): add volume_ids filter to ListVolumesRequest (#2917)
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat(audit_trail): add resource types for RDB (#2918)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat(k8s): move labels and taints to sad style (#2919)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/datalab/v1beta1/datalab_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

revert: remove non-searchdb changes from manual branch
  api/account/v3/account_sdk.go
  api/container/v1beta1/container_sdk.go
  api/environmental_footprint/v1alpha1/environmental_footprint_sdk.go
  api/jobs/v1alpha2/jobs_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @remyleone

docs(searchdb): change field to generate doc correctly (#2915)
  api/searchdb/v1alpha1/searchdb_sdk.go
Owners: @remyleone

docs(datalab): improve the API documentation wording (#2920)
  api/datalab/v1beta1/datalab_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(vpc): add l3vni to route (#2922)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat(s2s_vpn): support single tunnel ip auto-alloc (#2923)
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
Owners: @remyleone

chore(account): add italy specific billing for information on get and update organization (#2924)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

fix(containers): bump max timeout to 1h on v1 (#2925)
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute
