Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat(webhosting): add public backup api (#2668)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(qaas): add model messages (#2669)
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/inference/v1/inference_sdk.go
  api/inference/v1beta1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat(inference): add scaling deployment status (#2671)
  api/inference/v1/inference_sdk.go
  api/inference/v1beta1/inference_sdk.go
Owners: @scaleway/devtools-ai

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): add custom domain to hosting (#2672)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): object storage to estimation api (#2673)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat(ipam): add scaleblock searchdb cluster (#2675)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(serverless): deprecate activate_vpc_integration and update documentation (#2676)
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat(block): allow display of unpurged resources (#2677)
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat(iam/v1alpha1): add GetSamlInformation (#2678)
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): deprecate CheckUserOwnsDomain endpoint (#2679)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(key_manager): add api to list algorithms (#2680)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add offer ID in the public/admin catalog API (#2681)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(qaas): add session parameters (#2683)
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat(audit_trail): add instance resources (#2684)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add instances resources for disk management (#2685)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
  api/function/v1beta1/function_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/container/v1beta1/container_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/baremetal/v1/baremetal_sdk.go
Owners: @scaleway/devtools-compute-foundation
