Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat(audit_trail): add support for `WoflWorkflowVersionInfo` (#3404)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(audit_trail): add support for `CustomAlertRuleField` (#3405)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(account): add body annotation to DeleteProjectWithResources (AUTH-5153)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

fix(account): add body annotation to DeleteProjectWithResources (#3406)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

fix(edge_services): handle PATCH with wrapped exclusion rules
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(audit_trail): add equal operator for string type
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @remyleone, @scaleway/devtools-network

fix(key_manager): allow private sdk generation
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @remyleone, @scaleway/devtools-network, @scaleway/devtools-core

fix(edge_services): handle PATCH with wrapped exclusion rules (#3407)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

revert unrelated changes
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

revert unrelated changes
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @remyleone, @scaleway/devtools-network

feat(key_manager): add key protection_level (#3409)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(audit_trail): add equal operator for string type (#3408)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

fix(tests): add missing requests and response filters for vcr cassettes
  vcr/vcr.go
Owners: @remyleone

fix(tests): add missing requests and response filters for vcr cassettes (#3410)
  vcr/vcr.go
Owners: @remyleone

fix(tests): ignore passwords in json bodies to allow matching requests with generated passwords
  vcr/compare.go
Owners: @remyleone

fix(tests): ignore passwords in json bodies to allow matching request… (#3411)
  vcr/compare.go
Owners: @remyleone

feat(instance): add new methods to pass custom ctx (#3295)
  api/instance/v1/instance_metadata_sdk.go
  api/instance/v1/instance_metadata_sdk_test.go
Owners: @scaleway/devtools-compute

feat(autoscaling): add the RefreshGroup method
  api/autoscaling/v1alpha2/autoscaling_sdk.go
Owners: @remyleone

feat(key_manager): add key_encapsulation usage filter for ListKeys
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @remyleone, @scaleway/devtools-core

feat(artifact_registry): add cli positional fields
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @remyleone, @scaleway/devtools-core

feat(product_catalog): rework managed relational database products to integrate node generation and volume size constraints
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @remyleone, @scaleway/devtools-core

fix(generative_apis): enforce one of project or org ID to be set
  api/autoscaling/v1alpha2/autoscaling_sdk.go
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @remyleone, @scaleway/devtools-core

feat(autoscaling): add the RefreshGroup method (#3412)
  api/autoscaling/v1alpha2/autoscaling_sdk.go
Owners: @remyleone

feat(key_manager): add key_encapsulation usage filter for ListKeys (#3413)
  api/key_manager/v1alpha1/key_manager_sdk.go
Owners: @scaleway/devtools-core

feat(partner): add comment field on organization creation
  api/partner/v1/partner_sdk.go
Owners: @remyleone

feat(partner): add comment field on organization creation (#3417)
  api/partner/v1/partner_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

feat(permission): declare gapi consumption_limit permission
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

fix(search): add missing Serverless Containers types (#3418)
  api/search/v1alpha1/search_sdk.go
Owners: @remyleone

fix: preserve precondition failure messages
  scw/errors.go
  scw/errors_test.go
Owners: @remyleone

feat: update generated APIs
  api/billing/v2/billing_sdk.go
Owners: @scaleway/devtools-core

feat(account): exclude user comment from GDPR API audit trail event body
  api/billing/v2/billing_sdk.go
Owners: @scaleway/devtools-core

chore: update docker.internal.scaleway.com/protobuf/protoc-gen-raw docker tag to v2.0.25
  api/billing/v2/billing_sdk.go
Owners: @scaleway/devtools-core

chore: update node.js to v18.20.8
  api/billing/v2/billing_sdk.go
Owners: @scaleway/devtools-core

docs(billing): update doc to be more explicit of the specified currency (#3421)
  api/billing/v2/billing_sdk.go
Owners: @scaleway/devtools-core

feat: update generated APIs
  api/billing/v2/billing_sdk.go
Owners: @scaleway/devtools-core

feat(k8s): remove deprecated field available_container_runtimes
  api/iam/v1alpha1/iam_sdk.go
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute

feat(mailbox): add mailbox forwarding
  api/iam/v1alpha1/iam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @remyleone

feat: update generated APIs
  api/iam/v1alpha1/iam_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @scaleway/devtools-core, @scaleway/devtools-compute, @remyleone
