Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

feat(audit_trail): add VpcConnector resource (#2998)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat(webhosting): add create hosting request offer commitment id (#2999)
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

chore(vpc): generate SDK and documentation for VPC Peering (#3000)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat(cockpit): add new region field to exporter (#3001)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(domain): added waiter for validation of external domain
  api/domain/v2beta1/domain_utils.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(product_catalog): add Load Balancer (#3003)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

docs(lb): update descr for ssl_compatibility_level (#3004)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(audit_trail): add instance_private_nic resource type (#3006)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

docs(ipam): specify private IPs in description (#3007)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

Update api/domain/v2beta1/domain_utils.go
  api/domain/v2beta1/domain_utils.go
Owners: @scaleway/devtools-dms

feat(domain): added waiter for validation of external domain (#3005)
  api/domain/v2beta1/domain_utils.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

fix: remove unused parameters before beta (#3008)
  api/mailbox/v1alpha1/mailbox_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

chore(vpc): generate SDK and documentation for ListSubnetOverlaps (#3009)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @scaleway/devtools-core, @remyleone

feat: update generated APIs
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

fix(efp): add support for zone value
  scw/client_option_test.go
  scw/locality.go
  scw/locality_test.go
Owners: @remyleone

feat: update generated APIs
  api/account/v3/account_sdk.go
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-core, @remyleone, @scaleway/devtools-network, @scaleway/devtools-compute

feat(lb): add new field in LbType (#3011)
  api/lb/v1/lb_sdk.go
Owners: @scaleway/devtools-network

feat(k8s): add support for `SkipNodesWithLocalStorage` and `LogLevel` (#3015)
  api/k8s/v1/k8s_sdk.go
Owners: @scaleway/devtools-compute

docs(edge_services): add precision on forwarding behavior (#3016)
  api/edge_services/v1beta1/edge_services_sdk.go
Owners: @scaleway/devtools-network

feat(mongodb): add audit trail annotation on maintenance (#3017)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(file): add new Filesystem Types (#3019)
  api/file/v1alpha1/file_sdk.go
Owners: @remyleone

feat(account): add contract type for dedibox VPS
  .github/workflows/coverage.yml
  .github/workflows/nightly.yml
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  api/audit_trail/v1alpha1/audit_trail_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
  api/lb/v1/lb_sdk.go
Owners: @remyleone, @scaleway/devtools-network, @scaleway/devtools-compute

feat(account): add contract type for dedibox VPS (#3012)
  api/account/v3/account_sdk.go
Owners: @scaleway/devtools-core

feat(kafka): add version (#3021)
  api/kafka/v1alpha1/kafka_sdk.go
Owners: @remyleone

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms
