Repository scaleway/scaleway-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @scaleway/devtools-core, @scaleway/devtools-compute-foundation, @scaleway/devtools-storage, @scaleway/devtools-dms, @scaleway/devtools-compute, @scaleway/devtools-network, @scaleway/devtools-ai

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/api/account/ @scaleway/devtools-core
/api/applesilicon/ @scaleway/devtools-compute-foundation
/api/baremetal/ @scaleway/devtools-compute-foundation
/api/billing/ @scaleway/devtools-core
/api/block/ @scaleway/devtools-storage
/api/cockpit/ @scaleway/devtools-dms
/api/container/ @scaleway/devtools-compute
/api/dedibox/ @scaleway/devtools-compute-foundation
/api/documentdb/ @scaleway/devtools-dms
/api/domain/ @scaleway/devtools-dms
/api/edge_services @scaleway/devtools-network
/api/flexibleip/ @scaleway/devtools-network
/api/function/ @scaleway/devtools-compute
/api/iam/ @scaleway/devtools-core
/api/inference/ @scaleway/devtools-ai
/api/instance/ @scaleway/devtools-compute
/api/iot/ @scaleway/devtools-dms
/api/ipam/ @scaleway/devtools-network
/api/jobs/ @scaleway/devtools-compute
/api/k8s/ @scaleway/devtools-compute
/api/key_manager/ @scaleway/devtools-core
/api/lb/ @scaleway/devtools-network
/api/marketplace/ @scaleway/devtools-compute
/api/mnq/ @scaleway/devtools-dms
/api/rdb/ @scaleway/devtools-dms
/api/redis/ @scaleway/devtools-dms
/api/registry/ @scaleway/devtools-compute
/api/secret/ @scaleway/devtools-core
/api/serverless_sqldb/ @scaleway/devtools-dms
/api/tem/ @scaleway/devtools-dms
/api/vpc/ @scaleway/devtools-network
/api/vpcgw/ @scaleway/devtools-network
/api/webhosting/ @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(product_catalog): add new status filter to getCatalog (#2816)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(ipam): add support for `dtwh_deployment` (#2819)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/baremetal/v1/baremetal_sdk.go
  api/cockpit/v1/cockpit_sdk.go
  api/container/v1beta1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/function/v1beta1/function_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/iot/v1/iot_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
  api/lb/v1/lb_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/mongodb/v1alpha1/mongodb_sdk.go
  api/product_catalog/v2alpha1/product_catalog_sdk.go
  api/qaas/v1alpha1/qaas_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/redis/v1/redis_sdk.go
  api/registry/v1/registry_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/tem/v1alpha1/tem_sdk.go
  api/test/v1/test_sdk.go
  api/vpcgw/v1/vpcgw_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-dms, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-network

feat: update generated APIs
  api/lb/v1/lb_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/mongodb/v1alpha1/mongodb_sdk.go
Owners: @scaleway/devtools-network, @remyleone

feat(cockpit): add product endpoints (#2821)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(product_catalog): add managed inference to public catalog api (#2822)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat: update generated APIs
  api/domain/v2beta1/domain_sdk.go
Owners: @scaleway/devtools-dms

clean old waiters
  api/applesilicon/v1alpha1/apple_silicon_utils.go
  api/baremetal/v1/server_utils.go
  api/container/v1beta1/container_helpers.go
  api/datawarehouse/v1beta1/datawarehouse_helpers.go
  api/dedibox/v1/dedibox_utils.go
  api/edge_services/v1beta1/edge_services_utils.go
  api/file/v1alpha1/file_utils.go
  api/function/v1beta1/function_helpers.go
  api/iot/v1/iot_helpers.go
  api/k8s/v1/k8s_helpers.go
  api/lb/v1/lb_utils.go
  api/mongodb/v1/mongodb_utils.go
  api/mongodb/v1alpha1/mongodb_utils.go
  api/rdb/v1/rdb_utils.go
  api/redis/v1/redis_utils.go
  api/registry/v1/image_utils.go
  api/registry/v1/registry_utils.go
  api/registry/v1/tag_utils.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_utils.go
  api/tem/v1alpha1/tem_utils.go
  api/vpcgw/v1/vpcgw_utils.go
  api/vpcgw/v2/vpcgw_utils.go
  api/webhosting/v1/webhosting_utils.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-network, @scaleway/devtools-dms

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/baremetal/v1/baremetal_sdk.go
  api/container/v1beta1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/function/v1beta1/function_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/iot/v1/iot_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
  api/lb/v1/lb_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/mongodb/v1alpha1/mongodb_sdk.go
  api/qaas/v1alpha1/qaas_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/redis/v1/redis_sdk.go
  api/registry/v1/registry_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/tem/v1alpha1/tem_sdk.go
  api/test/v1/test_sdk.go
  api/vpcgw/v1/vpcgw_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/baremetal/v1/baremetal_sdk.go
  api/container/v1beta1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/function/v1beta1/function_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/iot/v1/iot_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
  api/lb/v1/lb_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/mongodb/v1alpha1/mongodb_sdk.go
  api/qaas/v1alpha1/qaas_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/redis/v1/redis_sdk.go
  api/registry/v1/registry_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/tem/v1alpha1/tem_sdk.go
  api/test/v1/test_sdk.go
  api/vpcgw/v1/vpcgw_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network

fix: use explicit fields in waiter requests for backward compatibility (#2827)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
  api/baremetal/v1/baremetal_sdk.go
  api/container/v1beta1/container_sdk.go
  api/datawarehouse/v1beta1/datawarehouse_sdk.go
  api/dedibox/v1/dedibox_sdk.go
  api/domain/v2beta1/domain_sdk.go
  api/edge_services/v1beta1/edge_services_sdk.go
  api/file/v1alpha1/file_sdk.go
  api/function/v1beta1/function_sdk.go
  api/interlink/v1beta1/interlink_sdk.go
  api/iot/v1/iot_sdk.go
  api/k8s/v1/k8s_sdk.go
  api/kafka/v1alpha1/kafka_sdk.go
  api/lb/v1/lb_sdk.go
  api/mongodb/v1/mongodb_sdk.go
  api/mongodb/v1alpha1/mongodb_sdk.go
  api/qaas/v1alpha1/qaas_sdk.go
  api/rdb/v1/rdb_sdk.go
  api/redis/v1/redis_sdk.go
  api/registry/v1/registry_sdk.go
  api/s2s_vpn/v1alpha1/s2s_vpn_sdk.go
  api/serverless_sqldb/v1alpha1/serverless_sqldb_sdk.go
  api/tem/v1alpha1/tem_sdk.go
  api/test/v1/test_sdk.go
  api/vpcgw/v1/vpcgw_sdk.go
  api/vpcgw/v2/vpcgw_sdk.go
  api/webhosting/v1/webhosting_sdk.go
Owners: @scaleway/devtools-compute-foundation, @scaleway/devtools-compute, @remyleone, @scaleway/devtools-dms, @scaleway/devtools-network

feat: update generated APIs
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

fix(cockpit): add nolint directives for deprecated Grafana user methods
  api/cockpit/v1/sweepers/sweepers.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

chore(cockpit): add nolint directives for deprecated Grafana user methods (#2830)
  api/cockpit/v1/sweepers/sweepers.go
Owners: @scaleway/devtools-dms

feat(audit_trail): add resource types for S2S VPN (#2832)
  api/audit_trail/v1alpha1/audit_trail_sdk.go
Owners: @remyleone

feat(apple_silicon): add CI-CD runner configuration update API (#2829)
  api/applesilicon/v1alpha1/applesilicon_sdk.go
Owners: @scaleway/devtools-compute-foundation

feat(vpc): add support for `RouteType` (#2831)
  api/vpc/v2/vpc_sdk.go
Owners: @scaleway/devtools-network

feat: update generated APIs
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

feat(cockpit): add waiters for alerts
  api/cockpit/v1/cockpit_utils.go
Owners: @scaleway/devtools-dms

fix(cockpit): remove WaitForAlert and keep only WaitForPreconfiguredAlerts
  api/cockpit/v1/cockpit_utils.go
Owners: @scaleway/devtools-dms

feat(messageq): add required resource definitions (#2833)
  api/ipam/v1/ipam_sdk.go
Owners: @scaleway/devtools-network

fix(cockpit): harden wait for alerts
  api/cockpit/v1/cockpit_utils.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(cockpit): add monthly usage (#2834)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat(product_catalog): add generative apis to catalog api (#2835)
  api/product_catalog/v2alpha1/product_catalog_sdk.go
Owners: @remyleone

feat(cockpit): add waiters for alerts (#2828)
  api/cockpit/v1/cockpit_utils.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat(block): add volume_type filter to ListVolumesRequest (#2836)
  api/block/v1/block_sdk.go
Owners: @scaleway/devtools-storage

feat: update generated APIs
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

fix(cockpit): remove visibitiy none one managed alerts (#2837)
  api/cockpit/v1/cockpit_sdk.go
Owners: @scaleway/devtools-dms

feat: update generated APIs
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone

feat(qaas): update documentation (#2838)
  api/qaas/v1alpha1/qaas_sdk.go
Owners: @remyleone
