Repository scaleway/scaleway-sdk-go, pull requests merged in 2022-12, with the labels that each got.

#1470 feat(baremetal): add wait method for server private networks
  api/baremetal/v1/server_utils.go
Labels: elastic-metal

#1479 fix(vpcgw): update terminal states in WaitForGateway
  api/vpcgw/v1/vpcgw_utils.go
Labels: vpc

#1483 fix(core): logger shouldLog checking lower log level
  logger/default_logger.go
Labels: bug

#1480 feat(scw): try to read yaml file as yml on fail
  scw/config.go
  scw/config_test.go
Labels: enhancement

#1482 feat(core): move request logging from client to a transport
  internal/auth/token.go
  scw/client.go
  scw/client_test.go
  scw/transport.go
Labels: enhancement

#1485 fix(core): nested logger transport when creating multiple clients
  scw/client.go
  scw/client_test.go
Labels: bug
