Repository scaleway/scaleway-sdk-go, pull requests merged in 2023-06, with the labels that each got.

#1730 feat(instance): implement lister for GetServerTypesAvailability
  api/instance/v1/instance_utils.go
Labels: enhancement, instance

#1745 docs: update config template credentials url
  scw/config.go
  scw/config_test.go
Labels: iam, documentation

#1756 fix: Ensure correct time.Duration output in ToTimeDuration()
  scw/custom_types.go
  scw/custom_types_test.go
Labels: bug
