Repository scaleway/scaleway-sdk-go, pull requests merged in 2023-11, with the labels that each got.

#1910 feat(scw): add NewDurationFromTimeDuration
  scw/custom_types.go
  scw/custom_types_test.go
Labels: enhancement

#1916 feat(instance): add ipv6 metadata
  api/instance/v1/instance_metadata_sdk.go
Labels: instance

#1931 fix(mnq): remove end of life v1alpha1
  api/mnq/v1alpha1/mnq_sdk.go
Labels: mnq
