Repository scaleway/scaleway-sdk-go, pull requests merged in 2023-10, with the labels that each got.

#1857 feat: add marshalJSON method for type File
  scw/custom_types.go
  scw/custom_types_test.go
Labels: enhancement

#1869 fix(instance): getUnknownVolume SBS volume
  api/instance/v1/volume_utils.go
Labels: bug, instance

#1871 fix(instance): AttachVolume with multiple sbs volumes
  api/instance/v1/instance_utils.go
  api/instance/v1/instance_utils_test.go
  api/instance/v1/testdata/utils-test-block.yaml
Labels: bug

#1880 fix: time ptr query parameter
  internal/parameter/query.go
Labels: bug

#1904 feat(tem): add MX blackhole constant
  api/tem/v1alpha1/tem_utils.go
Labels: enhancement, tem
