Repository scaleway/scaleway-sdk-go, pull requests merged in 2023-07, with the labels that each got.

#1776 feat(container): add trigger waiter
  api/container/v1beta1/container_helpers.go
Labels: enhancement, container

#1779 feat(marketplace): add type filter to GetLocalImageByLabel
  api/marketplace/v2/marketplace_utils.go
Labels: enhancement, instance

#1789 feat(domain): add helper check if record exist
  api/domain/v2beta1/domain_utils.go
Labels: domain
