Repository scaleway/scaleway-sdk-go, pull requests merged in 2024-06, with the labels that each got.

#2101 feat(instance): add waitForRDPPassword
  api/instance/v1/instance_utils.go
Labels: enhancement, instance

#2121 feat(edge_services): add waiters
  api/edge_services/v1alpha1/edge_services_utils.go
Labels: enhancement, edge-services

#2055 feat: add unique identifier to logged requests
  scw/transport.go
Labels: enhancement, priority:high
