Repository scaleway/scaleway-sdk-go, pull requests merged in 2024-11, with the labels that each got.

#2315 chore: remove vpc v1
  api/vpc/v1/vpc_sdk.go
  sdk_compilation_test.go
Labels: vpc

#2324 chore: remove secret/v1alpha1
  api/secret/v1alpha1/secret_sdk.go
Labels: secret

#2325 chore: remove account/v2alpha1 and account/v2
  api/account/v2/account_sdk.go
  api/account/v2alpha1/account_sdk.go
Labels: account

#2334 feat(block): allow waiting for specific snapshot status
  api/block/v1alpha1/snapshot_utils.go
Labels: enhancement, sbs
