Repository scaleway/scaleway-sdk-go, pull requests merged in 2025-03, with the labels that each got.

#2443 chore(webhosting): purge v1alpha1
  api/webhosting/v1/sweepers/sweepers.go
  api/webhosting/v1alpha1/webhosting_sdk.go
  api/webhosting/v1alpha1/webhosting_utils.go
  sdk_compilation_test.go
Labels: webhosting

#2449 feat(edge_services): add waiters
  api/edge_services/v1beta1/edge_services_utils.go
Labels: edge-services

#2466 feat(vpcgw): add v2 waiters
  api/vpcgw/v2/vpcgw_utils.go
Labels: vpcgw
