Repository scaleway/scaleway-sdk-go, pull requests merged in 2025-07, with the labels that each got.

#2632 tests(container): update cassette for TestListContainerNamespaceMultipleRegions
  api/container/v1beta1/testdata/container-list-regions.yaml
Labels: container

#2626 fix(instance): resolve image label according to boot volume type
  api/instance/v1/server_utils.go
  api/instance/v1/server_utils_test.go
  api/instance/v1/testdata/create-server-image-label-resolution.yaml
Labels: bug, instance, priority:highest

#2633 tests(instance): update failed tests
  api/instance/v1/instance_sdk_server_test.go
  api/instance/v1/instance_utils_test.go
  api/instance/v1/security_group_utils_test.go
  api/instance/v1/server_utils_test.go
  api/instance/v1/snapshot_utils_test.go
  api/instance/v1/testdata/create-server.yaml
  api/instance/v1/testdata/security-group-rule-test.yaml
  api/instance/v1/testdata/security-group-test.yaml
  api/instance/v1/testdata/snapshot-test.yaml
  api/instance/v1/testdata/utils-test-block.yaml
  api/instance/v1/volume_utils_test.go
Labels: instance

#2643 fix(baremetal): support subscription period GetOfferByName
  api/baremetal/v1/server_utils.go
Labels: baremetal

#2657 feat(webhosting): add hosting updating status
  api/webhosting/v1/webhosting_sdk.go
Labels: webhosting

#2655 docs(instance): update DetachServerFileSystem description
  api/instance/v1/instance_sdk.go
Labels: instance

#2656 docs(lb): fix ACL match field description
  api/lb/v1/lb_sdk.go
Labels: load-balancer

#2654 feat(iam): deprecate `UserStatus`
  api/iam/v1alpha1/iam_sdk.go
Labels: iam

#2660 feat(vpc): add retry function when deleting private networks
  api/vpc/v2/vpc_utils.go
Labels: vpc
