Repository scaleway/scaleway-sdk-go, pull requests merged in 2025-02, with the labels that each got.

#2408 feat(apple-silicon): add waiter terminal status ServerPrivateNetworkSt…
  api/applesilicon/v1alpha1/apple_silicon_utils.go
Labels: apple-silicon

#2416 feat(domain): add waiters for registrar API
  api/domain/v2beta1/domain_utils.go
Labels: domain

#2435 feat: add utils for webhosting v1
  api/webhosting/v1/webhosting_utils.go
Labels: webhosting
