Repository scaleway/scaleway-sdk-go, pull requests merged in 2025-01, with the labels that each got.

#2386 feat: add waiters for snapshots
  api/rdb/v1/rdb_utils.go
Labels: rdb

#2392 chore: enable cleaning of SSH keys
  api/iam/v1alpha1/sweepers/sweepers.go
Labels: iam

#2396 feat(apple-silicon): add waiter private network
  api/applesilicon/v1alpha1/apple_silicon_utils.go
Labels: apple-silicon

#2406 fix(scw): read body with unknown content-length
  scw/client.go
Labels: bug
